<div class="comparison-wrapper">
  @if (tournament.comparison; as comparison) {
    <div class="comparison">
      <div class="comparison-column">
        <app-image class="image-container" [src]="comparison[0].contentLink" [placeholderSrc]="comparison[0].thumbnailLink" (click)="onImageClick(comparison[0])"></app-image>
        @if (progressBarVisible) {
          @let winnersLeft = tournament.getNearestWinners(comparison[0]);
          @if (winnersLeft.length) {
            <div class="side-column winners-column">
              @for (image of winnersLeft; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" />
              }
            </div>
          }
          @let losersLeft = tournament.getNearestLosers(comparison[0]);
          @if (losersLeft.length) {
            <div class="side-column losers-column">
              @for (image of losersLeft; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" />
              }
            </div>
          }
        }
      </div>
      <div class="h-separator v-separator"></div>
      <div class="comparison-column">
        <app-image class="image-container" [src]="comparison[1].contentLink" [placeholderSrc]="comparison[1].thumbnailLink" (click)="onImageClick(comparison[1])"></app-image>
        @if (progressBarVisible) {
          @let winnersRight = tournament.getNearestWinners(comparison[1]);
          @if (winnersRight.length) {
            <div class="side-column winners-column">
              @for (image of winnersRight; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" />
              }
            </div>
          }
          @let losersRight = tournament.getNearestLosers(comparison[1]);
          @if (losersRight.length) {
            <div class="side-column losers-column">
              @for (image of losersRight; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" />
              }
            </div>
          }
        }
      </div>
    </div>
  } @else {
    <div class="results">
      @for (image of tournament.getRanking(); track image.id) {
        <img [src]="image.thumbnailLink" loading="lazy" />
      }
    </div>
  }

  @if (progressBarVisible) {
    <div class="h-separator"></div>
    <div class="progress-bar">
      @if (tournament.comparison) {
        <div class="progress-bar-fill" [style.width.%]="tournament.estimateProgressPercent"></div>
        <div class="progress-bar-label">
          {{ tournament.completeComparisons }}/~{{ tournament.estimateComparisons }}/{{ tournament.totalComparisons }} ({{ tournament.estimateProgressPercent | number: '1.0-0' }}%)
        </div>
      } @else {
        <div class="progress-bar-fill" [style.width.%]="100"></div>
        <div class="progress-bar-label">{{ tournament.completeComparisons }}/{{ tournament.completeComparisons }} ({{ 100 | number: '1.0-0' }}%)</div>
      }
    </div>
  }
</div>
