@use 'src/styles/variables.scss';

:host {
  display: flex;

  .comparison {
    display: flex;
    overflow: hidden;

    @media screen and (max-width:768px) {
      aspect-ratio: 2;
    }

    .image-container {
      // flex: 1;
      padding: variables.$gap;
      display: flex;
      // align-items: center;
      // justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: var(--color-border);
      }

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: variables.$gap;
      }
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: variables.$gap;

    @media screen and (max-width:768px) {
      width: calc(3*100px + 2 * variables.$gap);
      padding: variables.$gap;
    }

    @media screen and (min-width:768px) {
      padding: variables.$gap;
    }

    .image-container {
      width: 100px;
      display: flex;

      img {
        max-width: 100%;
        max-height: 100%;
        // border-radius: variables.$gap;
      }
    }
  }
}