<div class="comparison-wrapper">
  @if (comparison) {
    <div class="comparison">
      <div class="comparison-column">
        <app-image class="image-container" [src]="comparison[0].contentLink" [placeholderSrc]="comparison[0].thumbnailLink" (click)="onImageClick(comparison[0])"></app-image>
        @if (progressBarVisible) {
          @if (winnersLeft.length) {
            <div class="side-column winners-column">
              @for (image of winnersLeft; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(image, comparison[0])" />
              }
            </div>
          }
          @if (losersLeft.length) {
            <div class="side-column losers-column">
              @for (image of losersLeft; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(comparison[0], image)" />
              }
            </div>
          }
        }
      </div>
      <div class="h-separator v-separator"></div>
      <div class="comparison-column">
        <app-image class="image-container" [src]="comparison[1].contentLink" [placeholderSrc]="comparison[1].thumbnailLink" (click)="onImageClick(comparison[1])"></app-image>
        @if (progressBarVisible) {
          @if (winnersRight.length) {
            <div class="side-column winners-column">
              @for (image of winnersRight; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(image, comparison[1])" />
              }
            </div>
          }
          @if (losersRight.length) {
            <div class="side-column losers-column">
              @for (image of losersRight; track image.id) {
                <img class="side-image" [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(comparison[1], image)" />
              }
            </div>
          }
        }
      </div>
    </div>
  } @else {
    <div class="results">
      @for (image of ranking; track image.id) {
        <img [src]="image.thumbnailLink" loading="lazy" />
      }
    </div>
  }

  @if (progressBarVisible) {
    <div class="h-separator"></div>
    <div class="progress-bar">
      @if (stateService.tournament.comparison) {
        <div class="progress-bar-fill" [style.width.%]="stateService.tournament.estimateProgressPercent"></div>
        <div class="progress-bar-label">
          {{ stateService.tournament.completeComparisons }}/~{{ stateService.tournament.estimateComparisons }}/{{ stateService.tournament.totalComparisons }} ({{ stateService.tournament.estimateProgressPercent | number: '1.0-0' }}%)
        </div>
      } @else {
        <div class="progress-bar-fill" [style.width.%]="100"></div>
        <div class="progress-bar-label">{{ stateService.tournament.completeComparisons }}/{{ stateService.tournament.completeComparisons }} ({{ 100 | number: '1.0-0' }}%)</div>
      }
    </div>
  }
</div>
