<div class="comparison" *ngIf="tournament.currentComparison">
  <div class="image-container" (click)="onImageClick(tournament.currentComparison[0], tournament.currentComparison[1])">
    <img class="image" [src]="tournament.currentComparison[0].object.thumbnailLink">
  </div>
  <div class="v-separator"></div>
  <div class="image-container" (click)="onImageClick(tournament.currentComparison[1], tournament.currentComparison[0])">
    <img class="image" [src]="tournament.currentComparison[1].object.thumbnailLink">
  </div>
</div>
<div class="h-separator"></div>
<div class="results">
  <div *ngFor="let contender of tournament.leaderboard" class="image-container">
    <img class="image" [src]="contender.object.thumbnailLink">
  </div>
</div>