<div class="comparison-wrapper">
  @if (comparison) {
    <div class="comparison">
      <app-image class="image-container" [src]="comparison[0].contentLink" [placeholderSrc]="comparison[0].thumbnailLink" (click)="onImageClick(comparison[0])"></app-image>
      <div class="h-separator v-separator"></div>
      <app-image class="image-container" [src]="comparison[1].contentLink" [placeholderSrc]="comparison[1].thumbnailLink" (click)="onImageClick(comparison[1])"></app-image>
    </div>
  } @else {
    <div class="results">
      @for (image of tournament.getRanking(); track image.id) {
        <img [src]="image.thumbnailLink" loading="lazy" />
      }
    </div>
  }

  @if (progressBarVisible) {
    <div class="h-separator"></div>
    <div class="progress-bar">
      @if (comparison) {
        <div class="progress-bar-fill" [style.width.%]="estimateProgressPercent"></div>
        <div class="progress-bar-label">{{ completeComparisons }}/~{{ estimateTotalComparisons }}/{{ totalComparisons }} ({{ estimateProgressPercent | number: '1.0-0' }}%)</div>
      } @else {
        <div class="progress-bar-fill" [style.width.%]="100"></div>
        <div class="progress-bar-label">{{ completeComparisons }}/{{ completeComparisons }} ({{ 100 | number: '1.0-0' }}%)</div>
      }
    </div>
  }
</div>
