<div class="comparison-wrapper">
  @if (comparison) {
    <div class="comparison">
      <div class="comparison-column">
        <app-image
          class="image-container"
          [src]="comparison[0].contentLink"
          [placeholderSrc]="galleryUtils.getPlaceholderSrc(comparison[0])"
          [sourceWidth]="comparison[0].imageMediaMetadata?.width || comparison[0].videoMediaMetadata?.width"
          [sourceHeight]="comparison[0].imageMediaMetadata?.height || comparison[0].videoMediaMetadata?.height"
          (click)="onImageClick(comparison[0])"
          (imageDisplayed)="onComparisonImageDisplayed(0, comparison[0], $event)"
          (contextmenu)="onImageContextMenu(comparison[0], $event)"
          (touchstart)="onImageTouchStart(comparison[0])"
          (touchend)="onImageTouchEnd()"
          (touchcancel)="onImageTouchEnd()"
          (touchmove)="onImageTouchMove()"></app-image>
        <div class="active-image-actions">
          <i class="icon-button fa-solid fa-rotate-left" title="Restart Image Comparisons" (click)="restartActiveImageComparisons($event)"></i>
          <i class="icon-button fa-solid fa-forward-step" title="Skip Image" (click)="skipActiveImage($event)"></i>
        </div>
        @if (hasGroupNavigation(comparison[0])) {
          <div class="group-navigation">
            <i class="icon-button fa-solid fa-chevron-left" title="Previous Group Image" (click)="showPreviousGroupImage(0, $event)"></i>
            <i class="icon-button fa-solid fa-chevron-right" title="Next Group Image" (click)="showNextGroupImage(0, $event)"></i>
          </div>
        }
      </div>
      <div class="h-separator v-separator"></div>
      <div class="comparison-column">
        <app-image
          class="image-container"
          [src]="comparison[1].contentLink"
          [placeholderSrc]="galleryUtils.getPlaceholderSrc(comparison[1])"
          [sourceWidth]="comparison[1].imageMediaMetadata?.width || comparison[1].videoMediaMetadata?.width"
          [sourceHeight]="comparison[1].imageMediaMetadata?.height || comparison[1].videoMediaMetadata?.height"
          (click)="onImageClick(comparison[1])"
          (imageDisplayed)="onComparisonImageDisplayed(1, comparison[1], $event)"
          (contextmenu)="onImageContextMenu(comparison[1], $event)"
          (touchstart)="onImageTouchStart(comparison[1])"
          (touchend)="onImageTouchEnd()"
          (touchcancel)="onImageTouchEnd()"
          (touchmove)="onImageTouchMove()"></app-image>
        @if (stateService.settings?.showComparisonRelations) {
          @if (winnersRight.length) {
            <div class="side-column winners-column">
              @for (image of winnersRight; track image.id) {
                <div class="side-image-container">
                  <img class="side-image" [src]="image.thumbnailLink" [style.aspect-ratio]="image.aspectRatio" loading="lazy" (click)="openRelationFullscreen(image, $event)" (contextmenu)="onImageContextMenu(image, $event)" (touchstart)="onImageTouchStart(image)" (touchend)="onImageTouchEnd()" (touchcancel)="onImageTouchEnd()" (touchmove)="onImageTouchMove()" />
                  @if (canCompareAgainst(image)) {
                    <i class="side-image-action side-image-action-end icon-button smaller fa-solid fa-code-compare" title="Compare Against This Image" (click)="compareAgainst(image, $event)"></i>
                  }
                </div>
              }
            </div>
          }
          @if (losersRight.length) {
            <div class="side-column losers-column">
              @for (image of losersRight; track image.id) {
                <div class="side-image-container">
                  <img class="side-image" [src]="image.thumbnailLink" [style.aspect-ratio]="image.aspectRatio" loading="lazy" (click)="openRelationFullscreen(image, $event)" (contextmenu)="onImageContextMenu(image, $event)" (touchstart)="onImageTouchStart(image)" (touchend)="onImageTouchEnd()" (touchcancel)="onImageTouchEnd()" (touchmove)="onImageTouchMove()" />
                  @if (canCompareAgainst(image)) {
                    <i class="side-image-action side-image-action-start icon-button smaller fa-solid fa-code-compare" title="Compare Against This Image" (click)="compareAgainst(image, $event)"></i>
                  }
                </div>
              }
            </div>
          }
        }
        @if (hasGroupNavigation(comparison[1])) {
          <div class="group-navigation">
            <i class="icon-button fa-solid fa-chevron-left" title="Previous Group Image" (click)="showPreviousGroupImage(1, $event)"></i>
            <i class="icon-button fa-solid fa-chevron-right" title="Next Group Image" (click)="showNextGroupImage(1, $event)"></i>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="comparison comparison-empty">
      Ranking complete.
    </div>
  }

  @if (stateService.settings?.showComparisonRelations) {
    <div class="h-separator"></div>
    <div class="progress-remaining">
      {{ sortStatus }}
    </div>
  }
</div>
