@use 'src/styles/variables.scss';

:host {
  height: 120px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: variables.$gap-1;
  flex: 1;

  .order-container {
    height: 120px;
    min-height: 120px;
    display: flex;
    gap: variables.$gap-1;
    overflow-x: auto;
    overflow-y: hidden;

    .image-container {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border-radius: variables.$gap-1;
      cursor: pointer;

      >i {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:hover>i {
        opacity: 1;
        pointer-events: all;
      }

      img {
        height: 120px;
        border-radius: variables.$gap-1;
        opacity: 0;
        transition-property: opacity;
        transition-duration: variables.$transition-duration;
      }
    }
  }
}
