<app-header></app-header>
<div class="masonry-scroll-container" (create)="masonryScrollContainer = $event.nativeElement">
  <div class="masonry-container" (create)="masonryContainer = $event.nativeElement; updateLayout();">
    <!-- TODO split styles -->
    <div *ngFor="let image of masonryImages" @fade class="masonry-brick" [style.width.px]="image.masonryWidth" [style.height.px]="image.masonryHeight" [style.top.px]="image.masonryTop" [style.left.px]="image.masonryLeft" (click)="onImageClick(image)" [style.opacity]="image.group && stateService.groupEditorGroup && !stateService.groupEditorGroup.images.includes(image) ? '0.15' : '1'">
      <div class="brick-container">
        <img [src]="image.thumbnailLink" (create)="bricks[image.id] = $event.nativeElement" #imageElement (load)="imageElement.style.opacity = '1'">
      </div>
      <ng-container *ngIf="areBrickButtonsVisible()">
        <div class="brick-header">
          <i class="icon-button fa-heart" [ngClass]="image.heart ? 'fa-solid active' : 'fa-regular'" tp="Favorite" (click)="$event.stopPropagation(); stateService.toggleFavorite(image, true);"></i>
          <i class="icon-button fa-bookmark" [ngClass]="image.bookmark ? 'fa-solid active' : 'fa-regular'" tp="Bookmark" (click)="$event.stopPropagation(); stateService.toggleBookmark(image, true);"></i>
        </div>
        <div class="brick-footer">
          <!-- <i class="icon-button fa-solid fa-tags" tp="Tag Manager" (click)="galleryService.openTagManager(image); $event.stopPropagation();"></i> -->
          <i *ngIf="image.group" class="icon-button active fa-solid fa-object-group" tp="Group Manager" (click)="galleryService.openImageGroupEditor(image.group); $event.stopPropagation();"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>