@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;

  .masonry-scroll-container {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-background-primary);
    // width: 100%;
    height: 100%;
    padding: 1px $gap $gap $gap;

    .masonry-container {
      position: relative;

      .masonry-brick {
        position: absolute;
        transition-property: top, left, width, height, opacity;
        transition-duration: $transition-duration;
        padding-bottom: $gap;
        cursor: pointer;

        .brick-container {
          border-radius: $gap;
          width: 100%;
          height: 100%;
          display: flex;
          background-color: var(--color-background-secondary);
          transition-property: outline, background-color;
          transition-duration: $transition-duration;
          outline: 1px solid transparent;

          img {
            width: 100%;
            user-select: none;
            border-radius: $gap;
            contain: size;

            opacity: 0;
            transition-property: opacity, margin;
            transition-duration: $transition-duration;
          }
        }

        @media screen and (min-width:768px) {
          &:hover {

            .brick-header,
            .brick-footer {
              .icon-button {
                opacity: 1;
                pointer-events: all;
              }
            }
          }
        }

        .brick-header,
        .brick-footer {
          width: 100%;
          position: absolute;
          display: flex;
          padding: $gap;
          box-sizing: border-box;
          user-select: none;
          justify-content: center;
          align-items: center;

          .icon-button {
            opacity: 0;
            pointer-events: none;
            // transition: $transition-duration;

            &.no-hover {
              cursor: default !important;
              border-color: transparent !important;
              background-color: transparent !important;
            }

            &.active {
              opacity: 1;
              pointer-events: all;
            }
          }
        }

        .brick-header {
          top: 0;
        }

        .brick-footer {
          bottom: 0;
          padding-bottom: $gap * 2;
        }
      }
    }
  }
}