@if (inputs.article) {
  <div class="button action-button" (click)="rename()">Rename {{ inputs.article.folder ? 'Folder' : 'Note' }}</div>
  <div class="button action-button" (click)="delete()">Delete {{ inputs.article.folder ? 'Folder' : 'Note' }}</div>
}

@if (!inputs.article || inputs.article.folder) {
  <div class="button action-button" (click)="create(false)">Create {{ inputs.article ? 'Sub-Note' : 'Note' }}</div>
  <div class="button action-button" (click)="create(true)">Create {{ inputs.article ? 'Sub-Folder' : 'Folder' }}</div>
}
