@if (tag) {
  <div class="flex gap hover-brighten hover-container" style="line-height: 24px" (drop)="drop($event, tag)" ondragover="event.preventDefault()">
    <div class="flex gap flex-1 width-100 min-width-0 align-items-center" [class.disabled]="tag.pseudo" [class.cursor-pointer]="!tag.pseudo" (click)="onTagClick()">
      @for (_ of [].constructor(tag.collectParents().length); track $index) {
        <i class="fa-solid fa-angle-down opacity-0"></i>
      }
      @if (tag.group) {
        <i class="fa-solid" [ngClass]="tag.open ? 'fa-angle-down' : 'fa-angle-right'" style="margin-top: 1px"></i>
      } @else {
        <i class="fa-solid fa-angle-down opacity-0"></i>
      }
      <div
        class="flex-1 overflow-hidden"
        [ngClass]="getTextClass()"
        draggable="true"
        (dragstart)="start($event, tag)"
        (dragenter)="enter($event, tag)"
        (dragleave)="leave($event, tag)"
        (dragend)="end($event, tag)"
        ondragover="event.preventDefault()">
        <div class="flex pointer-events-none">
          <span class="ellipsis">{{ tag.name }}</span>
          @if (stateService.settings.showTagCount && tag.getCount(stateService.images); as count) {
            <span class="pointer-events-none" style="white-space: pre"> {{ tag.pseudo ? '➝' : '•' }} {{ count }}</span>
          }
        </div>
      </div>
    </div>
    <div class="flex gap align-items-center cursor-pointer hover-visible">
      <i class="hover-positive fa-solid fa-ellipsis-vertical" (click)="galleryService.openTagOptions(tag)"></i>
    </div>
  </div>
  @if (tag.group) {
    <div class="flex column overflow-hidden drawer" [class.open]="tag.open">
      @for (child of getTagGroups(); track child.id) {
        <app-tagger-row [tag]="child" [target]="target" [groupMode]="groupMode"></app-tagger-row>
      }
      @for (child of getTags(); track child.id) {
        <app-tagger-row [tag]="child" [target]="target" [groupMode]="groupMode"></app-tagger-row>
      }
    </div>
  }
}
