@use 'src/styles/variables.scss';

:host {
  display: flex;
  overflow: auto;
}

.path-row {
  display: flex;
  align-items: center;
  gap: variables.$gap-1;
  padding: variables.$gap-1;
  overflow-x: auto;
  overflow-y: hidden;
}

.path-thumb {
  height: 256px;
  border-radius: variables.$gap-1;
  border: 1px solid var(--color-border);
}

.path-separator {
  display: grid;
  place-items: center;
  width: 18px;
  height: 18px;
  cursor: pointer;

  i {
    grid-area: 1 / 1;
    color: var(--color-text-secondary);
    transition: opacity variables.$transition-duration-fast ease, color variables.$transition-duration-fast ease;
  }

  .fa-trash {
    opacity: 0;
  }

  &.pending {
    .fa-trash {
      opacity: 1;
      color: var(--color-negative);
    }

    .fa-angle-right {
      opacity: 0;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .path-separator:hover {
    .fa-trash {
      opacity: 1;
    }

    .fa-angle-right {
      opacity: 0;
    }
  }
}