@use 'src/styles/variables.scss';

:host {
  display: flex;
  user-select: none;
  transition: variables.$transition-duration;
  overflow: hidden;
  height: 100%;

  &:not(.visible) {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width:768px) {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: var(--color-background-dialog);
  }

  @media screen and (min-width:768px) {
    width: 300.8px;
    min-width: 300.8px;

    &:not(.visible) {
      width: 0;
      min-width: 0;
    }
  }

  .tag-manager-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (max-width:768px) {
      width: 100vw;
      min-width: 100vw;
    }

    @media screen and (min-width:768px) {
      width: 300px;
      min-width: 300px;
    }

    .header {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      margin: variables.$gap;
    }

    .filters-container {
      flex: 1;
      scrollbar-gutter: stable;

      i {
        font-size: 0.8rem;
        margin-top: 1px;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: variables.$gap;
    margin: 0 variables.$gap variables.$gap variables.$gap;

    .button {
      flex: 1;
      gap: variables.$gap;
    }
  }

}