<div class="v-separator desktop-only"></div>
<div class="tag-manager-container">
  <div class="header">
    <div class="flex gap">
      @if (!ScreenUtils.isLargeScreen()) {
        <i class="icon-button fa-solid hover-brighten" [ngClass]="groupMode ? 'fa-images' : 'fa-image'" [class.disabled]="target?.group == null" [class.positive]="groupMode" (click)="groupMode = !groupMode"></i>
      }
    </div>
    <span class="margins-3-h">Tag Manager</span>
    <div class="flex gap flex-end-h">
      <i class="icon-button fa-solid" [ngClass]="ScreenUtils.isLargeScreen() ? 'fa-caret-right' : 'fa-times'" tp="Collapse" tpPlacement="left" (click)="stateService.taggerVisible = false"></i>
    </div>
  </div>
  @if (ScreenUtils.isLargeScreen()) {
    <div class="h-separator margins"></div>
    <div class="flex center gap-3 margins-3-v">
      <div class="flex center gap cursor-pointer hover-brighten" [class.disabled]="target?.group == null" [class.positive]="groupMode" (click)="groupMode = !groupMode">
        <i class="fa-solid" [ngClass]="groupMode ? 'fa-images' : 'fa-image'" style="margin-top: 1px;"></i>
        <span>Group Mode</span>
      </div>
    </div>
  }
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @for (tag of tagService.getRootTags(); track tag.id; let i = $index) {
        @if (i != 0) {
          <div class="h-separator subtle"></div>
        }
        <app-tagger-row [tag]="tag" [target]="target" [groupMode]="groupMode"></app-tagger-row>
      }
    </div>
  </div>
  <div class="buttons-container">
    <div class="button" (click)="tagService.openTagGroupCreate()"><i class="fa-solid fa-plus"></i>Create</div>
  </div>
</div>