<div class="v-separator desktop-only"></div>
<div class="tagger-container">
  @if (target?.group) {
    <div class="group-images-container x-scrollbar-container height-auto">
      @for (group of [target.group]; track groupTracker) {
        <div class="group-images-scroll-container anim-fade-in" animate.leave="anim-fade-out">
          @for (groupImage of group.images; track groupImage.id) {
            <div class="group-image-container" (click)="stateService.fullscreenImage.set(groupImage)">
              <app-image [src]="groupImage.thumbnailLink" [class.grayscale]="!groupImage.passesFilters" [style.width.px]="120 * groupImage.aspectRatio"></app-image>
              <div class="target-border" [class.target]="groupImage == target"></div>
            </div>
          }
        </div>
      }
    </div>
    <div class="h-separator margins"></div>
  }
  <div class="overflow-hidden">
    @if (target) {
      <div class="file-information">
        <div class="file-name" [title]="target.name">{{ target.name }}</div>
        @if (getFileSize(target); as fileSize) {
          <span class="label">Size</span>
          <span class="value">{{ fileSize }}</span>
        }
        @if (getResolution(target); as resolution) {
          <span class="label">Resolution</span>
          <span class="value">{{ resolution }}</span>
        }
      </div>
    }
  </div>
  <div class="h-separator margins"></div>
  @if (target) {
    <input type="text" class="note-input" [value]="target.note" placeholder="Note" (input)="onNoteInput($event)" />
    <div class="h-separator margins"></div>
  }
  <div class="flex gap center padding-1">
    <div class="flex gap">
      <i class="icon-button fa-solid fa-download" title="Download" (click)="googleService.download(target)"></i>
      <i class="icon-button fa-brands fa-google-drive" title="Google Drive" (click)="$event.stopPropagation(); googleService.openSearch(target.name)"></i>
      <div class="v-separator"></div>
      <i class="icon-button fa-brands fa-google" title="Google Lens" (click)="$event.stopPropagation(); galleryService.openGoogleRIS($event, target)"></i>
      <i class="icon-button fa-brands fa-yandex-international" title="Yandex RIS" (click)="$event.stopPropagation(); galleryService.openYandexRIS($event, target)"></i>
      <div class="v-separator"></div>
    </div>
    <i class="icon-button fa-solid fa-box" title="Archive" (click)="galleryService.delete(target, true)"></i>
    <i class="icon-button fa-solid fa-trash" title="Delete" (click)="galleryService.delete(target, false)"></i>
  </div>
  <div class="h-separator margins"></div>
  <div class="flex" style="justify-content: space-evenly">
    <div class="flex center gap cursor-pointer hover-brighten padding-2" [class.positive]="target?.heart" (click)="galleryService.toggleFavorite(target)">
      <i class="fa-heart" [ngClass]="target?.heart ? 'fa-solid' : 'fa-regular'" style="margin-top: 1px"></i>
      <span>Favorite</span>
    </div>
    <div class="flex center gap cursor-pointer hover-brighten padding-2" [class.positive]="target?.bookmark" (click)="galleryService.toggleBookmark(target)">
      <i class="fa-bookmark" [ngClass]="target?.bookmark ? 'fa-solid' : 'fa-regular'" style="margin-top: 1px"></i>
      <span>Bookmark</span>
    </div>
  </div>
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @for (tag of tagService.getRootTags(); track tag.id) {
        <app-tagger-row [tag]="tag" [target]="target" [groupMode]="groupMode"></app-tagger-row>
      }
    </div>
  </div>
  <div class="h-separator gap-1-bottom margins"></div>
  <div class="buttons-container">
    <div class="button" (click)="tagService.openTagGroupCreate()">Create Tag</div>
    <div class="button" [class.positive]="groupMode" (click)="groupMode = !groupMode">Group Mode</div>
  </div>
</div>
