<div class="v-separator desktop-only"></div>
<div class="tag-manager-container">
  @if (stateService.settings.showFileInformation) {
    <div class="overflow-hidden">
      @if (target) {
        <div class="file-information">
          <div class="file-name" [title]="target.name">{{ target.name }}</div>
          @if (getFileSize(target); as fileSize) {
            <div class="file-row">
              <span class="label">Size</span>
              <span class="value">{{ fileSize }}</span>
            </div>
          }
          @if (getResolution(target); as resolution) {
            <div class="file-row">
              <span class="label">Resolution</span>
              <span class="value">{{ resolution }}</span>
            </div>
          }
        </div>
      } @else {
        <div class="file-placeholder">No file selected.</div>
      }
    </div>
  }
  <div class="h-separator margins"></div>
  <div class="header">
    <div class="flex gap">
      @if (target?.group) {
        <i class="icon-button fa-solid hover-brighten" [ngClass]="groupMode ? 'fa-images' : 'fa-image'" [class.positive]="groupMode" (click)="groupMode = !groupMode"></i>
      }
    </div>
    <span class="margins-3-h">Tag Manager</span>
    <div class="flex gap flex-end-h">
      <i class="icon-button fa-solid" [ngClass]="ScreenUtils.isLargeScreen() ? 'fa-caret-right' : 'fa-times'" title="Collapse" tpPlacement="left" (click)="stateService.taggerVisible = false"></i>
    </div>
  </div>
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @for (tag of tagService.getRootTags(); track tag.id) {
        <app-tagger-row [tag]="tag" [target]="target" [groupMode]="groupMode"></app-tagger-row>
      }
    </div>
  </div>
  <div class="buttons-container">
    <div class="button" (click)="tagService.openTagGroupCreate()"><i class="fa-solid fa-plus"></i>Create</div>
  </div>
</div>
