@use 'src/styles/variables.scss';

:host {
  display: flex;
  user-select: none;
  transition: variables.$transition-duration;
  overflow: hidden;
  height: 100%;
  background-color: color-mix(in srgb, var(--color-surface-0) 65%, transparent);
  scroll-snap-align: center;

  @media screen and (max-width:1280px) {
    backdrop-filter: blur(5px);
    z-index: 1;
    position: relative;
  }

  @media screen and (min-width:1280px) {
    width: 300.8px;
    min-width: 300.8px;
  }

  .file-information {
    display: grid;
    padding: variables.$gap-2;
    column-gap: variables.$gap-1;
    row-gap: variables.$gap-1;
    grid-template-columns: auto 1fr;
    position: relative;

    .file-name {
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      grid-column: 1/3;
    }

    .label {
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-size: 0.75rem;
      opacity: 0.8;
      white-space: nowrap;
      align-content: center;
    }

    .value {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.95rem;
      align-content: center;
    }
  }

  .tagger-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (max-width:1280px) {
      width: 100vw;
      min-width: 100vw;
    }

    @media screen and (min-width:1280px) {
      width: 300px;
      min-width: 300px;
    }

    .group-images-container {
      height: 120px;
      display: flex;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      margin: variables.$gap-1;
      scrollbar-gutter: stable;

      .group-images-scroll-container {
        display: flex;
        gap: variables.$gap-1;
        height: 100%;
        flex: 0 0 auto;
        width: max-content;
        margin: 0 auto;

        .group-image-container {
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          height: 100%;
          position: relative;
          border-radius: variables.$gap-1;
          cursor: pointer;
          overflow: hidden;

          app-image {
            flex: 0 0 auto;
            height: 100%;
          }

          app-image.grayscale {
            opacity: 0.5 !important;
            filter: grayscale(1);
          }

          .target-border {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: inherit;
            pointer-events: none;

            &.target {
              box-sizing: border-box;
              border: 2px solid var(--color-positive);
            }
          }
        }
      }
    }

    .filters-container {
      flex: 1;
      scrollbar-gutter: stable;

      i {
        font-size: 0.8rem;
        margin-top: 1px;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: variables.$gap-1;
    margin: 0 variables.$gap-1 variables.$gap-1 variables.$gap-1;

    .button {
      flex: 1;
      gap: variables.$gap-1;
    }
  }

}