@use 'src/styles/variables.scss';

:host {
  display: flex;
  user-select: none;
  transition: variables.$transition-duration;
  overflow: hidden;
  height: 100%;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width:1280px) {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: color-mix(in srgb, var(--color-surface-0) 65%, transparent);
  }

  @media screen and (min-width:1280px) {
    width: 300.8px;
    min-width: 300.8px;

    &.hidden {
      width: 0;
      min-width: 0;
    }
  }

  .file-information {
    display: grid;
    padding: variables.$gap-2;
    gap: variables.$gap-1;

    .file-name {
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .file-row {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: baseline;
      column-gap: variables.$gap-2;
      row-gap: variables.$gap-1;
      font-size: 0.95rem;
    }

    .label {
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-size: 0.75rem;
      opacity: 0.8;
      white-space: nowrap;
    }

    .value {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tagger-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (max-width:1280px) {
      width: 100vw;
      min-width: 100vw;
    }

    @media screen and (min-width:1280px) {
      width: 300px;
      min-width: 300px;
    }

    .header {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      margin: variables.$gap-1;
    }

    .filters-container {
      flex: 1;
      scrollbar-gutter: stable;

      i {
        font-size: 0.8rem;
        margin-top: 1px;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: variables.$gap-1;
    margin: 0 variables.$gap-1 variables.$gap-1 variables.$gap-1;

    .button {
      flex: 1;
      gap: variables.$gap-1;
    }
  }

}