@use 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-1;
  padding: variables.$gap-1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.settings-layout {
  display: flex;
  gap: variables.$gap-1;
  flex: 1;
  min-height: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-1;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-2;
  flex: 1;
  min-width: 0;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-1;
  flex: 1;
  min-width: 0;
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: variables.$gap-1;
}

.full-width {
  width: 100%;
  justify-content: center;
}