<div class="header" smallscreen>
  <div class="header-left">
    <div class="header-item">

    </div>
  </div>
  <div class="header-right">
    <i class="fa-solid fa-bars" (click)="sidebarVisible = true"></i>
  </div>
</div>

<div *ngIf="sidebarVisible" class="sidebar" @fade smallscreen>
  <div class="sidebar-header">
    <div class="header-left">

    </div>
    <div class="header-right">
      <i class="fa-solid fa-xmark" (click)="sidebarVisible = false"></i>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-content-top" (click)="sidebarVisible = false">
      <a class="sidebar-item" [routerLink]="['./hlasovanie']">Hlasovanie</a>
      <a class="sidebar-item" [routerLink]="['./hlasovanie/vysledky']">Výsledky</a>
    </div>
    <div class="sidebar-content-bottom" (click)="sidebarVisible = false">
      <ng-container *ngIf="authService.getUser()">
        <span class="sidebar-item" (click)="authService.logout()">Odhlásiť sa</span>
      </ng-container>
    </div>
  </div>
</div>

<div class="header" largescreen>
  <div class="header-left">
    <div class="header-item">
      <a [routerLink]="['./hlasovanie']">Hlasovanie</a>
    </div>
    <div class="header-item">
      <a [routerLink]="['./hlasovanie/vysledky']">Výsledky</a>
    </div>
    <!-- <div class="header-item">
      <a [routerLink]="['./pravidla']">Pravidlá</a>
    </div> -->
    <!-- <div class="header-item">
      <a href="/splav/tips">Príprava</a>
    </div>
    <div class="header-item">
      <a href="/splav/route">Trasa</a>
    </div>
    <div class="header-item">
      <a href="/splav/gallery">Galéria</a>
    </div> -->
  </div>
  <div class="header-right">
    <ng-container *ngIf="authService.getUser()">
      <div @fade class="header-item hover-container">
        <span class="hover-visible" (click)="authService.logout()">Odhlásiť sa</span>
        <span class="hover-hidden">{{ authService.getUser().displayName }}</span>
      </div>
    </ng-container>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>