@import 'src/styles/variables.scss';

:host {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    position: sticky;
    top: 0;
    height: 40px;
    display: flex;
    gap: ($gap * 5);
    border-bottom: 1px solid var(--color-border);
    padding: 0 ($gap * 5);
    box-sizing: border-box;
    background-color: var(--color-background);
    z-index: 1;
    justify-content: space-between;

    .header-left,
    .header-right {
      display: flex;
      gap: ($gap * 5);
    }

    .header-item {
      min-width: 40px;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      box-sizing: border-box;
      padding-top: 3px;
      border-bottom: 3px solid transparent;
      transition-property: color, border-color;
      transition-duration: ($transition-duration * 0.5);

      &:hover {
        color: var(--color-text-hover);
        border-bottom-color: var(--color-primary);
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
  }

}