<div class="header">
  <div class="header-left">
    <div class="header-item">
      <a [routerLink]="['./hlasovanie']">Hlasovanie</a>
    </div>
    <!-- <div class="header-item">
      <a [routerLink]="['./pravidla']">Pravidlá</a>
    </div> -->
    <!-- <div class="header-item">
      <a href="/splav/tips">Príprava</a>
    </div>
    <div class="header-item">
      <a href="/splav/route">Trasa</a>
    </div>
    <div class="header-item">
      <a href="/splav/gallery">Galéria</a>
    </div> -->
  </div>
  <div class="header-right">
    <ng-container *ngIf="authService.getUser()">
      <div largescreen @fade class="header-item hover-container">
        <span class="hover-visible" (click)="authService.logout()">Odhlásiť sa</span>
        <span class="hover-hidden">{{ authService.getUser().displayName }}</span>
      </div>
      <div smallscreen @fade class="header-item">
        <span (click)="authService.logout()">Odhlásiť sa</span>
      </div>
    </ng-container>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>