@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  // margin-top: 40px; // TODO ($header-height)
  // padding: ($gap * 2) ($gap * 5);
  height: 100vh;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:768px) {
    // width: 100%;
    // margin: 0 ($gap * 2);
  }

  .polls {
    display: flex;
    flex-direction: column;
    gap: ($gap * 2);
    align-items: center;

    .title {
      display: block;
      text-align: center;
      font-size: 36px; // TODO ($font-size * 2)
    }

    .poll-container {
      border: 1px solid var(--color-border);
      border-radius: $gap;
      display: flex;
      flex-direction: column-reverse;
      // align-items: center;
      background-color: rgba(255, 255, 255, 0.05);
      padding: ($gap * 2);
      position: relative;

      @media screen and (min-width:768px) {
        width: 450px;
      }

      @media screen and (max-width:768px) {
        // width: 100%;
        // margin: 0 ($gap * 2);
        // box-sizing: border-box;
      }

      .poll-progress {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: ($gap * 2);
        font-size: 12px;
      }

      .poll-animation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-bottom: ($gap * 2);
        margin-bottom: (-$gap * 2);

        .poll-title {
          font-size: 24px;
        }

        .poll-description {
          font-size: 16px;
        }

        .poll-options {
          display: flex;
          flex-direction: column;
          margin-top: ($gap * 2);
          align-self: start;
          gap: $gap;

          .poll-option {
            display: flex;
            align-items: center;
            gap: ($gap * 1.5);

            >input {
              width: 22.4px;
              min-width: 22.4px;
              height: 22.4px;
              min-height: 22.4px;
              margin: 0;
              cursor: pointer;
            }
          }
        }
      }
    }

    .buttons {
      >.button {
        height: auto;
        padding: ($gap) ($gap * 2);
      }
    }
  }

  .thankyou {
    position: absolute;
    display: block;
    font-size: 36px;
  }
}