<div class="filter-container">
  <div class="header">
    <div class="flex gap">
      <i class="icon-button fa-solid" [ngClass]="ScreenUtils.isLargeScreen() ? 'fa-caret-left' : 'fa-times'" tp="Collapse" tpPlacement="right" (click)="stateService.filterVisible = false"></i>
    </div>
    <span class="margins-3-h">Filter Configuration</span>
    <div class="flex gap flex-end-h">
      @if (!ScreenUtils.isLargeScreen()) {
        <i class="icon-button fa-heart" [ngClass]="getFilterIconClass(filterService.filterFavorites)" (click)="toggleFilter(filterService.filterFavorites)"></i>
        <i class="icon-button fa-bookmark" [ngClass]="getFilterIconClass(filterService.filterBookmarks)" (click)="toggleFilter(filterService.filterBookmarks)"></i>
        <i class="icon-button fa-object-group" [ngClass]="getFilterIconClass(filterService.filterGroups)" (click)="toggleFilter(filterService.filterGroups)"></i>
      }
    </div>
  </div>
  @if (ScreenUtils.isLargeScreen()) {
    <div class="h-separator margins"></div>
    <div class="flex center gap-3 margins-3-v">
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.filterFavorites)">
        <i class="fa-heart" [ngClass]="getFilterIconClass(filterService.filterFavorites)" style="margin-top: 1px"></i>
        <span [ngClass]="getFilterClass(filterService.filterFavorites)">Favorites</span>
      </div>
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.filterBookmarks)">
        <i class="fa-bookmark" [ngClass]="getFilterIconClass(filterService.filterBookmarks)" style="margin-top: 1px"></i>
        <span [ngClass]="getFilterClass(filterService.filterBookmarks)">Bookmarks</span>
      </div>
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.filterGroups)">
        <i class="fa-object-group" [ngClass]="getFilterIconClass(filterService.filterGroups)" style="margin-top: 1px"></i>
        <span [ngClass]="getFilterClass(filterService.filterGroups)">Groups</span>
      </div>
    </div>
  }
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @for (tag of tagService.getRootTags(); track tag; let i = $index) {
        @if (i != 0) {
          <div class="h-separator subtle"></div>
        }
        <app-filter-row [tag]="tag"></app-filter-row>
      }
    </div>
    <div class="test"></div>
  </div>
  <div class="h-separator gap-bottom margins"></div>
  <div class="buttons-container">
    <div class="button" (click)="tagService.openTagGroupCreate()"><i class="fa-solid fa-plus"></i>Create</div>
    <div class="button" [class.disabled]="!canClear()" (click)="clearFilters()"><i class="fa-solid fa-filter-circle-xmark"></i>Clear</div>
  </div>
</div>
<div class="v-separator desktop-only"></div>
