@use 'src/styles/variables.scss';

:host {
  display: flex;
  user-select: none;
  overflow: hidden;
  height: 100%;

  transition-property: margin-left opacity;
  transition-duration: variables.$transition-duration;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width:1280px) {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: color-mix(in srgb, var(--color-surface-0) 65%, transparent);
  }

  @media screen and (min-width:1280px) {
    width: 300.8px;
    min-width: 300.8px;

    &.hidden {
      margin-left: -300.8px;
    }
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (max-width:1280px) {
      width: 100vw;
      min-width: 100vw;
    }

    @media screen and (min-width:1280px) {
      width: 300px;
      min-width: 300px;
    }

    .filters-container {
      flex: 1;
      scrollbar-gutter: stable;

      i {
        font-size: 0.8rem;
        margin-top: 1px;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: variables.$gap-1;
    margin: 0 variables.$gap-1 variables.$gap-1 variables.$gap-1;

    .button {
      flex: 1;
      gap: variables.$gap-1;
    }
  }

}