<div class="filter-container">
  <div class="flex center gap-3 margins-2-v">
    <span>Filter: {{ filterService.images().length }} images</span>
  </div>
  <div class="h-separator margins"></div>
  <div class="flex center gap-3 margins-3-v">
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.favoritesFilter)">
      <i class="fa-heart" [ngClass]="getFilterIconClass(filterService.favoritesFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.favoritesFilter)">Favorites</span>
    </div>
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.bookmarksFilter)">
      <i class="fa-bookmark" [ngClass]="getFilterIconClass(filterService.bookmarksFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.bookmarksFilter)">Bookmarks</span>
    </div>
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.groupsFilter)">
      <i class="fa-object-group" [ngClass]="getFilterIconClass(filterService.groupsFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.groupsFilter)">Groups</span>
    </div>
  </div>
  <div class="h-separator margins"></div>
  <div class="search-input-container">
    <input #searchInput type="text" class="search-input" [value]="searchQuery" placeholder="Search" (input)="onSearchQueryInput($event)" />
    @if (hasSearchQuery()) {
      <button type="button" class="clear-search-button fa-solid fa-times" title="Clear search" (click)="clearSearchQuery(searchInput)"></button>
    }
  </div>
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @if (hasSearchQuery()) {
        @for (tag of getSearchResultTags(); track tag.id) {
          <app-filter-row [tag]="tag" [showFullName]="true" [flatMode]="true"></app-filter-row>
        }
      } @else {
        @for (tag of tagService.getRootTags(); track tag.id) {
          <app-filter-row [tag]="tag"></app-filter-row>
        }
      }
    </div>
  </div>
  <div class="h-separator gap-1-bottom margins"></div>
  <div class="buttons-container">
    <div class="button-row">
      <div class="button" [class.disabled]="!canClear()" (click)="clearFilters()">Clear Filter</div>
    </div>
    <div class="button-row">
      <div class="button" (click)="tagService.openTagCreate()">Create Tag</div>
      <div class="button" (click)="tagService.openTagGroupCreate()">Create Tag Group</div>
    </div>
  </div>
</div>
<div class="v-separator desktop-only"></div>
