<div class="filter-container">
  <div class="flex center gap-3 margins-3-v">
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.favoritesFilter)">
      <i class="fa-heart" [ngClass]="getFilterIconClass(filterService.favoritesFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.favoritesFilter)">Favorites</span>
    </div>
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.bookmarksFilter)">
      <i class="fa-bookmark" [ngClass]="getFilterIconClass(filterService.bookmarksFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.bookmarksFilter)">Bookmarks</span>
    </div>
    <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(filterService.groupsFilter)">
      <i class="fa-object-group" [ngClass]="getFilterIconClass(filterService.groupsFilter)" style="margin-top: 1px"></i>
      <span [ngClass]="getFilterClass(filterService.groupsFilter)">Groups</span>
    </div>
  </div>
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1-h">
      @for (tag of tagService.getRootTags(); track tag.id) {
        <app-filter-row [tag]="tag"></app-filter-row>
      }
    </div>
    <div class="test"></div>
  </div>
  <div class="h-separator gap-1-bottom margins"></div>
  <div class="buttons-container">
    <div class="button" (click)="tagService.openTagGroupCreate()">Create Tag</div>
    <div class="button" [class.disabled]="!canClear()" (click)="clearFilters()">Clear Filter</div>
  </div>
</div>
<div class="v-separator desktop-only"></div>
