@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  user-select: none;

  .filter-list-container {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: $gap;
    overflow: auto;

    @media screen and (min-width:768px) {
      width: max-content;
    }
  }

  .filter-list-row {
    cursor: pointer;
    white-space: nowrap;
  }

  .buttons-container {
    display: flex;
    gap: $gap;
    margin: -2 * $gap;
    margin-top: 0;
  }
}