<div class="filter-container">
  <div class="header">
    <div class="flex gap">
      <i class="icon-button fa-solid" [ngClass]="ScreenUtils.isLargeScreen() ? 'fa-caret-left' : 'fa-times'" tp="Collapse" tpPlacement="right" (click)="stateService.filterVisible = false"></i>
    </div>
    <span class="margins-3-h">Filter Configuration</span>
    <div class="flex gap flex-end-h">
      <ng-container *ngIf="!ScreenUtils.isLargeScreen()">
        <i class="icon-button fa-heart" [ngClass]="getFilterClass(stateService.filterFavorite, true)" (click)="toggleFilter(stateService.filterFavorite)"></i>
        <i class="icon-button fa-bookmark" [ngClass]="getFilterClass(stateService.filterBookmark, true)" (click)="toggleFilter(stateService.filterBookmark)"></i>
        <i class="icon-button fa-object-group" [ngClass]="getFilterClass(stateService.filterGroups, true)" (click)="toggleFilter(stateService.filterGroups)"></i>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="ScreenUtils.isLargeScreen()">
    <div class="h-separator margins"></div>
    <div class="flex center gap-3 margins-3-v">
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(stateService.filterFavorite)">
        <i class="fa-heart" [ngClass]="getFilterClass(stateService.filterFavorite, true)" style="margin-top: 1px;"></i>
        <span [ngClass]="getFilterClass(stateService.filterFavorite)">Favorites</span>
      </div>
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(stateService.filterBookmark)">
        <i class="fa-bookmark" [ngClass]="getFilterClass(stateService.filterBookmark, true)" style="margin-top: 1px;"></i>
        <span [ngClass]="getFilterClass(stateService.filterBookmark)">Bookmarks</span>
      </div>
      <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(stateService.filterGroups)">
        <i class="fa-object-group" [ngClass]="getFilterClass(stateService.filterGroups, true)" style="margin-top: 1px;"></i>
        <span [ngClass]="getFilterClass(stateService.filterGroups)">Groups</span>
      </div>
    </div>
  </ng-container>
  <div class="h-separator margins"></div>
  <div class="filters-container y-scrollbar-container">
    <div class="flex column margins-1">
      <div *ngFor="let group of stateService.tagGroups" class="flex column">
        <div class="flex hover-brighten cursor-pointer hover-container" style="line-height: 20px">
          <div class="flex flex-1 gap align-items-center" (click)="stateService.openTagGroup = group == stateService.openTagGroup ? null : group">
            <i class="fa-solid" [ngClass]="group == stateService.openTagGroup ? 'fa-angle-down' : 'fa-angle-right'"></i>
            <span class="white-space-nowrap" [class.underline-dashed-highlight]="isSomeTagInGroupActive(group)">{{ group.name }}</span>
          </div>
          <div class="flex gap align-items-center hover-visible">
            <i class="hover-positive fa-solid fa-list" (click)="onTagGroupClick(group)"></i>
            <i class="hover-positive fa-solid fa-pen" (click)="galleryService.openTagEditor('edit', group)"></i>
          </div>
        </div>
        <div [@drawer2]="group == stateService.openTagGroup" class="flex column overflow-hidden" style="margin-left: 20.33333333px; line-height: 20px;">
          <div *ngFor="let tag of group.tags" class="flex cursor-pointer hover-brighten hover-container">
            <div class="flex-1" [ngClass]="getFilterClass(tag)" (click)="toggleFilter(tag)">
              <span class="white-space-nowrap">{{ tag.name }}</span>
              <span *ngIf="stateService.settings.showTagCount" style="white-space: pre;"> • {{ getTagCount(tag) }}</span>
            </div>
            <div class="flex gap align-items-center hover-visible">
              <i class="hover-positive fa-solid fa-pen" (click)="galleryService.openTagEditor('edit', group, tag)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-separator gap-bottom margins"></div>
  <div class="buttons-container">
    <div class="button" (click)="galleryService.openTagEditor('create', stateService.openTagGroup)"><i class="fa-solid fa-plus"></i>Create</div>
    <div class="button" [class.disabled]="!canClear()" (click)="clearFilters()"><i class="fa-solid fa-filter-circle-xmark"></i>Clear</div>
  </div>
</div>
<div class="v-separator desktop-only"></div>