<div class="flex center gap-3">
  <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(stateService.filterFavorite)">
    <i class="fa-heart" [ngClass]="getFilterClass(stateService.filterFavorite, true)"></i>
    <span [ngClass]="getFilterClass(stateService.filterFavorite)">Favorites</span>
  </div>
  <div class="flex center gap cursor-pointer hover-brighten" (click)="toggleFilter(stateService.filterBookmark)">
    <i class="fa-bookmark" [ngClass]="getFilterClass(stateService.filterBookmark, true)"></i>
    <span [ngClass]="getFilterClass(stateService.filterBookmark)">Bookmarks</span>
  </div>
</div>
<div class="h-separator"></div>
<div class="filters-container">
  <div class="groups-container">
    <div *ngFor="let group of groups" class="group-container hover-brighten" (click)="stateService.openTagGroup = group" (contextmenu)="$event.preventDefault()">
      <span [class.highlight]="isSomeTagInGroupActive(group)">{{ group.name }}</span>
      <div class="group-active-indicator" [class.transparent]="group != stateService.openTagGroup"></div>
    </div>
  </div>
  <div class="v-separator"></div>
  <div class="stack-container width-auto height-auto">
    <div *ngFor="let group of groups" class="tags-container" [class.transparent]="group != stateService.openTagGroup">
      <span *ngFor="let tag of group.tags" class="cursor-pointer hover-brighten" [ngClass]="getFilterClass(tag.actualTag)" (click)="toggleFilter(tag.actualTag)" (contextmenu)="$event.preventDefault(); galleryService.openTagEditor(tag.actualTag);">{{ tag.name }}</span>
    </div>
  </div>
</div>
<div class="buttons-container">
  <div class="button" (click)="galleryService.openTagEditor()"><i class="fa-solid fa-plus"></i>Create</div>
  <div class="button" [class.disabled]="!canClear()" (click)="clearFilters()"><i class="fa-solid fa-filter-circle-xmark"></i>Clear</div>
</div>