@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: $gap * 2;

  >.button {
    width: 100%;
  }

  >.switch-container {
    display: flex;
    gap: $gap;
  }
}