@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: $gap;

  >.button {
    width: 100%;
  }

  >.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
  }
}