<ng-container *ngIf="stateService.settings">
  <div class="option-container">
    <span class="nowrap user-select-none">Dark Mode</span>
    <app-checkbox [value]="applicationService.isDarkTheme()" (valueChange)="applicationService.toggleTheme()"></app-checkbox>
  </div>
  <div class="h-separator"></div>
  <div class="option-container">
    <span class="nowrap user-select-none">Show Tag Count</span>
    <app-checkbox [value]="stateService.settings.showTagCount" (valueChange)="onShowTagCountValueChange($event)"></app-checkbox>
  </div>
  <div class="h-separator"></div>
  <div class="option-container">
    <span class="nowrap user-select-none">Show Videos</span>
    <app-checkbox [value]="stateService.settings.showVideos" (valueChange)="onShowVideosValueChange($event)"></app-checkbox>
  </div>
  <div class="h-separator"></div>
  <div class="option-container">
    <span class="nowrap user-select-none">Auto Bookmark</span>
    <app-checkbox [value]="stateService.settings.autoBookmark" (valueChange)="onAutoBookmarkValueChange($event)"></app-checkbox>
  </div>
  <div class="h-separator"></div>
  <div class="button action-button" (click)="bookmarkImages()">Bookmark All Images</div>
  <div class="button action-button" (click)="resetDialogPositions()">Reset Dialog Positions</div>
</ng-container>