@use 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: variables.$gap;
  padding: variables.$gap;

  >.button {
    width: 100%;

    &.action-button {
      min-height: initial;
      padding: variables.$gap 0;
    }
  }

  >.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variables.$gap;
  }
}