<div *ngIf="!authService.hasLocalStorageEntry()" class="auth-container" @crossfade>
  <div class="auth-header">
    <span class="auth-text">Prosím prihlás sa.</span>
    <span class="auth-description">Potrebujem tvoje meno a email.</span>
  </div>
  <div class="auth-ui" (onCreate)="createAuthButton($event)"></div>
  <span class="auth-description">alebo</span>
  <a *ngIf="currentIndex == 0" @crossfade class="button skip-auth-to-results-button" [routerLink]="['/splav-2024/hlasovanie/vysledky']"><i class="fa-solid fa-chart-simple"></i>Výsledky</a>
</div>
<div *ngIf="authService.hasLocalStorageEntry()" class="polls" @crossfade>
  <div @skip class="poll-container">
    <div *ngFor="let poll of [polls[currentIndex]]" @drawer class="poll-animation-container">
      <span class="poll-title">{{ poll.title }}</span>
      <span class="poll-description">{{ poll.description }}</span>
      <div *ngIf="poll.options" class="poll-options">
        <div *ngFor="let option of poll.options" class="poll-option">
          <input [type]="poll.type" name="radio" [value]="option" (input)="onOptionChange(poll, option)" [checked]="option.selected" />
          <span>{{ option.text }}</span>
          <!-- TODO <label> namiesto <span> ? -->
        </div>
      </div>
    </div>
  </div>
  <div @skip class="buttons">
    <div class="button-container">
      <a *ngIf="currentIndex == 0" @crossfade class="button" [routerLink]="['/splav-2024/hlasovanie/vysledky']"><i class="fa-solid fa-chart-simple"></i>Výsledky</a>
      <div *ngIf="currentIndex != 0" @crossfade class="button" (click)="back()">Späť</div>
    </div>
    <div class="button-container">

    </div>
    <div class="button-container">
      <div *ngIf="currentIndex < polls.length - 1" @crossfade class="button" (click)="next()">Ďalej</div>
      <div *ngIf="currentIndex == polls.length - 1" @crossfade class="button" [class.disabled]="!authService.getUser()" (click)="submit()">Hlasovať</div>
    </div>
  </div>
  <span class="poll-progress">{{ (currentIndex + 1) + ' / ' + polls.length }}</span>
</div>