<div class="auth-container">
  <div class="auth-header">
    <span class="auth-text">Prihláška</span>
    <span class="user-name">{{ authService.userS()?.displayName }}</span>
  </div>
  <div *ngIf="!authService.userS()" class="auth-button auth-ui-button" (onCreate)="createAuthButton($event)"></div>
  <ng-container *ngIf="authService.userS()">
    <!-- <span>{{ this.authService.userS().displayName }}</span> -->
    <div class="h-separator"></div>
    <span>Pravidlá</span>
    <div *ngFor="let rule of rules; let i = index;" class="rules-container">
      <span class="rule-text">{{ (i + 1) + '. ' + rule.text }}</span>
      <span class="rule-description">{{ rule.description }}</span>
    </div>
    <div class="h-separator"></div>
    <div class="consent-checkbox-container" (click)="consent = !consent">
      <i class="consent-checkbox-icon" [ngClass]="consent ? 'fa-regular fa-square-check' : 'fa-regular fa-square'"></i>
      <span class="consent-checkbox-label">Súhlasím s pravidlami a budem ich dodržiavať</span>
    </div>
    <div class="consent-checkbox-container" (click)="agreeToPay = !agreeToPay">
      <i class="consent-checkbox-icon" [ngClass]="agreeToPay ? 'fa-regular fa-square-check' : 'fa-regular fa-square'"></i>
      <span class="consent-checkbox-label">Rozumiem, že prihláška je platná až po zaplatení</span>
    </div>
    <div class="h-separator"></div>
    <div class="button button-apply" [class.disabled]="!consent" (click)="apply()">Potvrdiť</div>
  </ng-container>
</div>