<div class="header">
  <div class="header-start">
    <i class="icon-button fa-solid fa-bars" tp="Sidebar" (click)="editorService.sidebarVisible.toggle()"></i>
    <i class="icon-button fa-solid mobile-display-none" [ngClass]="editorService.focusMode ? 'fa-up-right-and-down-left-from-center' : 'fa-down-left-and-up-right-to-center'" tp="Focus Mode" (click)="editorService.focusMode = !editorService.focusMode"></i>
    <!-- <i class="icon-button fa-solid fa-book" tp="Story" (click)="adventureService.storyVisible = !adventureService.storyVisible"></i> -->
    <!-- <i class="icon-button fa-solid fa-diagram-next" tp="Flowchart" (click)="adventureService.flowchartVisible = !adventureService.flowchartVisible"></i> -->
    <!-- <i class="icon-button fa-solid fa-file-import" tp="Import Data" (click)="import()"></i> -->
    <!-- <i class="icon-button fa-solid fa-file-export" tp="Export Data" (click)="export()"></i> -->
  </div>
  <div class="header-center">
    <input class="countdown-input" #countdownInput [class.user-select-none]="countdownInput.readOnly" (click)="onCountdownInputClick(countdownInput)" (input)="onCountdownInputChange(countdownInput)" (keypress)="onCountdownInputSubmit($event, countdownInput)" (focus)="countdownInput.select()" placeholder="Countdown" />
  </div>
  <div class="header-end">
    <i class="icon-button fa-solid" [ngClass]="applicationService.isDarkTheme() ? 'fa-moon' : 'fa-sun'" tp="Toggle Brightness Mode" (click)="applicationService.toggleTheme()"></i>
  </div>
</div>
<div class="content">
  <!-- Editor/Browser -->
  <app-scenario-browser [class.display-none]="!editorService.sidebarVisible.value"></app-scenario-browser>
  <div class="v-separator mobile-display-none" [class.desktop-display-none]="!editorService.sidebarVisible.value"></div>
  <div class="modules" [class.mobile-display-none]="editorService.sidebarVisible.value" [class.focus-mode]="editorService.focusMode">
    <!-- Notes -->
    <app-notes></app-notes>
    <!-- Flowchart -->
    <pre class="flowchart" [class.hidden]="!editorService.flowchartVisible"></pre>
    <!-- Story -->
    <div class="adventure-container" [style.display]="editorService.storyVisible ? '' : 'none'">
      <div class="story-container">
        <span *ngFor="let line of stateService.story">{{ line }}</span>
      </div>
      <ng-container *ngIf="stateService.getCurrentNode()">
        <div class="h-separator"></div>
        <div class="node-container">
          <span>{{ stateService.getCurrentNode().description }}</span>
          <div class="node-buttons-container">
            <ng-container *ngFor="let button of stateService.getButtonsForNode()">
              <span *ngIf="!actionService.evaluate(button.hidden)" class="button" (click)="actionService.executeButton(button)" [tp]="button.tooltip">{{ button.text }}</span>
            </ng-container>
            <!-- <i class="button node-button fa-solid fa-shuffle" [tp]="'Random'" (click)="actionService.executeRandomButton()"></i> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>