<div class="column">
  <span class="button" (click)="navigate('adventure')">Adventure</span>
  <span class="button" (click)="navigate('gallery')">Gallery</span>
  <span class="button" (click)="navigate('tournament')">Tournament</span>
</div>
<div class="v-separator"></div>
<div class="column">
  <i class="icon-button fa-solid fa-gear" tp="Settings" (click)="null"></i> <!-- TODO open settings dialog -->
  <i class="icon-button fa-solid" [ngClass]="applicationService.isDarkTheme() ? 'fa-moon' : 'fa-sun'" tp="Toggle Theme" (click)="applicationService.toggleTheme()"></i>
</div>