@import 'src/styles/variables.scss';

:host {
  display: flex;
  gap: $gap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;

  >* {
    width: 100%;
    cursor: pointer;
    user-select: none;
    background-color: var(--color-background-hover);
  }
}