<div class="column">
  <span class="button" (click)="navigate('event/2024-splav')">Splav 2024</span>
  <span class="button" (click)="navigate('games/activity')">Activity</span>
  <span class="button" (click)="navigate('games/twister')">Twister</span>
  <span class="button" (click)="navigate('games/nikdy-som')">Nikdy som</span>
  <ng-container *ngIf="dev > 4">
    <span class="button" (click)="navigate('gallery')">Gallery</span>
    <span class="button" (click)="navigate('adventure')">CYOA</span>
    <span class="button" (click)="navigate('tournament')">Tournament</span>
  </ng-container>
</div>
<div class="v-separator"></div>
<div class="column">
  <!-- <i class="icon-button fa-solid fa-gear" tp="Settings" (click)="null"></i> -->
  <i class="icon-button fa-solid" [ngClass]="applicationService.isDarkTheme() ? 'fa-moon' : 'fa-sun'" tp="Toggle Theme" (click)="applicationService.toggleTheme()"></i>
</div>
<div class="dev-container" (click)="dev = dev + 1"></div>