@use 'src/styles/variables.scss';

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: ($gap * 4) 0;
  text-align: center;
  gap: 2rem;
  margin: 0 ($gap * 2);
  position: relative;
  box-sizing: border-box;

  .user-agent {
    font-size: 0.667rem;
    position: absolute;
    top: 0.667rem;
  }

  .picture {
    max-width: 100%;
  }
}