@use 'src/styles/variables.scss';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: variables.$gap-1;
  padding: variables.$gap-1;
}