@use 'src/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-text-secondary);
  gap: variables.$gap-1;

  opacity: 0;
  transition-property: opacity;
  transition-duration: variables.$transition-duration;
}

.folders-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text-secondary);
  border-radius: variables.$gap-1;
  width: 300px;

  span {
    padding: variables.$gap-1;
    border-bottom: 1px solid var(--color-text-secondary);
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: var(--color-surface-200);
    }

    &:last-child {
      border: 0;
    }
  }
}
