<div class="container" [class.opacity-100]="!applicationService.loading()">
  <div *ngIf="true" class="folders-container">
    <span *ngFor="let dataFile of dataFiles" (click)="onDataFileClick(dataFile)">{{ dataFile.name.substring(0, dataFile.name.length - 10) }}</span>
    <span *ngFor="let folder of folders" (click)="onFolderClick(folder)">{{ folder.name }}</span>
  </div>
  <div class="buttons-container">
    <i class="icon-button fa-solid" [ngClass]="applicationService.reduceBandwidth ? 'fa-signal' : 'fa-wifi'" tp="Toggle Low Bandwidth Mode" (click)="applicationService.reduceBandwidth = !applicationService.reduceBandwidth"></i>
  </div>
</div>