<!-- Text -->
<div class="section-header">
  <span class="section-title">Text</span>
</div>
<input [(ngModel)]="editableButton.text">
<!-- Tooltip -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Tooltip</span>
</div>
<input [(ngModel)]="editableButton.tooltip">
<!-- Logic -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Logic</span>
  <i class="icon-button fa-solid fa-plus" tippy="Create Logic" (click)="createLogicEntry()"></i>
</div>
<app-logic-editor *ngFor="let logic of editableButton.logic; let i = index;" [logic]="logic" [removable]="i > 0" (removeLogic)="onRemoveLogic($event)"></app-logic-editor>