<div *ngIf="currentView == 'settings'" class="settings-container">
  <div class="flex column gap">
    <span>počet tímov</span>
    <input #teamCountInput [value]="4" (input)="onTeamCountChange(teamCountInput)" type="number" />
  </div>
  <div class="flex column gap">
    <span>trvanie kola</span>
    <input #roundDurationInput [value]="60" (input)="onRoundDurationChange(roundDurationInput)" type="number" />
  </div>
  <span class="button" [class.disabled]="!validateSettings()" (click)="settingsDone()">štart</span>
</div>
<div *ngIf="currentView == 'instructions'" class="instructions-container">
  <span *ngIf="isCurrentRoundForEveryone()">pre všetkých</span>
  <span>{{ getCurrentDiscipline() }}</span>
  <span>{{ availablePhrases[0] }}</span>
  <span class="button" (click)="startRound()">štart</span>
</div>
<div class="countdown-container" *ngIf="currentView == 'countdown'">
  <span>{{ timeLeft }}</span>
  <span *ngIf="showEndRoundEarlyButton" class="button" (click)="endRoundEarly()">hotovo</span>
</div>
<div class="result-container" *ngIf="currentView == 'result'">
  <span *ngIf="isCurrentRoundForEveryone()">pre všetkých</span>
  <span>{{ getCurrentDiscipline() }}</span>
  <span>{{ availablePhrases[0] }}</span>
  <div class="flex column center" [style.gap]="'2rem'">
    <input *ngIf="isCurrentRoundForEveryone()" #forEveryoneWinnerInput (input)="onForEveryoneWinnerChange(forEveryoneWinnerInput)" type="number" placeholder="ktorý tím uhádol?" />
    <span class="button" [style.width.%]="100" [class.disabled]="isCurrentRoundForEveryone() && !forEveryoneWinnerTeamIndexValid" (click)="roundOver(true)">uhádli</span>
  </div>
  <span class="button" (click)="roundOver(false)">neuhádli</span>
</div>
<div class="score-container" *ngIf="currentView == 'score'">
  <span>skóre</span>
  <span *ngFor="let team of teams; let i = index;">{{ i + 1 }}. tím: {{ team.wins }}</span>
  <span class="button" (click)="currentView = 'instructions'">ďaľšie kolo</span>
</div>