@use 'src/styles/variables.scss';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  .masonry-scroll-container {
    overflow-x: hidden;
    overflow-y: scroll;
    // width: 100%;
    height: 100%;
    padding: variables.$gap-1;

    .masonry-container {
      position: relative;

      .masonry-brick {
        position: absolute;
        transition-property: top, left, width, height, opacity;
        transition-duration: variables.$transition-duration;
        padding-bottom: variables.$gap-1;
        cursor: pointer;

        .brick-container {
          border-radius: variables.$gap-1;
          width: 100%;
          height: 100%;
          display: flex;
          background-color: var(--color-surface-200);
          transition-property: outline, background-color;
          transition-duration: variables.$transition-duration;
          outline: 1px solid transparent;

          img {
            width: 100%;
            user-select: none;
            border-radius: variables.$gap-1;
            contain: size;

            opacity: 0;
            transition: opacity variables.$transition-duration ease;
          }
        }

        @media screen and (min-width:1280px) {
          &:hover {

            .brick-header,
            .brick-footer {
              .icon-button {
                opacity: 1;
                pointer-events: all;
              }
            }
          }
        }

        .brick-header,
        .brick-footer {
          width: 100%;
          position: absolute;
          display: flex;
          padding: variables.$gap-1;
          box-sizing: border-box;
          user-select: none;
          justify-content: center;
          align-items: center;
          gap: variables.$gap-1;

          .icon-button {
            opacity: 0;
            pointer-events: none;
            background-color: transparent;
            border-color: transparent;

            &:hover {
              border-color: var(--color-border);
              backdrop-filter: blur(3px);
            }

            &.active {
              opacity: 1;
              pointer-events: all;
            }
          }
        }

        .brick-header {
          top: 0;
        }

        .brick-footer {
          bottom: 0;
          padding-bottom: variables.$gap-2;
        }
      }
    }
  }
}