@if (tag) {
  <div class="flex gap cursor-pointer hover-brighten hover-container" style="line-height: 24px" (drop)="drop($event, tag)" ondragover="event.preventDefault()">
    <div class="flex gap flex-1 width-100 min-width-0 align-items-center" (click)="onTagClick()">
      @for (_ of [].constructor(tag.collectParents().length); track _) {
        <i class="fa-solid fa-angle-down opacity-0"></i>
      }
      @if (tag.group) {
        <i class="fa-solid" [ngClass]="tag.open ? 'fa-angle-down' : 'fa-angle-right'" style="margin-top: 1px"></i>
      } @else {
        <i class="fa-solid fa-angle-down opacity-0"></i>
      }
      <div
        class="flex-1 overflow-hidden"
        [ngClass]="getTextClass()"
        draggable="true"
        (dragstart)="start($event, tag)"
        (dragenter)="enter($event, tag)"
        (dragleave)="leave($event, tag)"
        (dragend)="end($event, tag)"
        ondragover="event.preventDefault()">
        <div class="flex pointer-events-none">
          <span class="ellipsis">{{ tag.name }}</span>
          @if (stateService.settings.showTagCount) {
            <ng-container *ngVar="tag.getCount(stateService.images) as count">
              @if (count !== null) {
                <span class="pointer-events-none" style="white-space: pre"> {{ tag.pseudo ? '➝' : '•' }} {{ count }}</span>
              }
            </ng-container>
          }
        </div>
      </div>
    </div>
    <div class="flex gap align-items-center hover-visible">
      @if (tag.group) {
        <i class="hover-positive fa-solid fa-check-double" (click)="toggleTagState()"></i>
      }
      <i class="hover-positive fa-solid fa-ellipsis-vertical" (click)="galleryService.openTagOptions(tag)"></i>
    </div>
  </div>
  @if (tag.group) {
    <div [@drawer2]="tag.open" class="flex column overflow-hidden">
      @for (child of getTagGroups(); track child) {
        <app-filter-row [tag]="child"></app-filter-row>
      }
      @for (child of getTags(); track child) {
        <app-filter-row [tag]="child"></app-filter-row>
      }
    </div>
  }
}
