@import 'src/styles/variables.scss';

:host {
  flex: 1;
  // min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: relative;
  transition-property: margin;
  transition-duration: $transition-duration;

  .note-header {
    display: flex;
    border-bottom: 1px solid var(--color-border);

    &.focus-mode {
      @media screen and (min-width:768px) {
        margin: 0 25%;
      }
    }

    .note-title {
      flex: 1;
      min-width: 100px;
      border: 0;
      border-radius: 0;
      padding: $gap;
    }
  }

  .y-scrollbar-container {
    flex: 1;
    display: flex;

    .note-content {
      flex: 1;
      resize: none;
      border: none;
      line-height: 1.25rem;
      padding: ($gap * 0.5) $gap;
      overflow-wrap: normal;

      &.focus-mode {
        @media screen and (min-width:768px) {
          margin-left: 25%;
          padding-right: 25%;
        }
      }
    }
  }

}