<!-- ID -->
<div class="section-header">
  <span class="section-title">ID</span>
</div>
<input [(ngModel)]="editableVariable.id">
<!-- Type -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Type</span>
</div>
<select [(ngModel)]="editableVariable.type" (ngModelChange)="onVariableTypeChange($event)">
  <option *ngFor="let variableType of getVariableTypes()">{{ variableType }}</option>
</select>
<!-- Options -->
<ng-container *ngIf="editableVariable.type == 'Enum'">
  <div class="h-separator"></div>
  <div class="options-container">
    <div class="section-header">
      <span class="section-title">Options</span>
      <i class="icon-button fa-solid fa-plus" tp="Create Option" (click)="createOption()"></i>
    </div>
    <div *ngFor="let option of editableVariable.options" class="option-container">
      <input [(ngModel)]="option.value">
      <i class="icon-button fa-solid fa-times" tp="Remove Option" (click)="removeOption(option)"></i>
    </div>
  </div>
</ng-container>
<!-- Initial Value -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Initial Value</span>
</div>
<ng-container *ngIf="editableVariable.type == 'Boolean'">
  <!-- Boolean -->
  <select [(ngModel)]="editableVariable.initialValue">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>
</ng-container>
<ng-container *ngIf="editableVariable.type == 'Number'">
  <!-- Number -->
  <input type="number" [(ngModel)]="editableVariable.initialValue">
</ng-container>
<ng-container *ngIf="editableVariable.type == 'Enum'">
  <!-- Enum -->
  <select [(ngModel)]="editableVariable.initialValue">
    <option value=""></option>
    <option *ngFor="let option of editableVariable.options" [value]="option.value">{{ option.value }}</option>
  </select>
</ng-container>