<ng-container *ngIf="stateService.groupEditorGroup">
  <span *ngIf="stateService.groupEditorGroup.images.length == 0">No Images</span>
  <div *ngIf="stateService.groupEditorGroup.images.length > 0" class="order-container">
    <div *ngFor="let image of stateService.groupEditorGroup.images" class="image-container" (click)="stateService.target.set(image)" [dragdrop]="image" [dragdropParent]="stateService.groupEditorGroup.images">
      <i class="icon-button-small fa-solid fa-times" (click)="$event.stopPropagation(); remove(image);"></i>
      <img class="image" [src]="image.thumbnailLink">
    </div>
  </div>
</ng-container>