@import 'src/styles/variables.scss';

.firebaseui-idp-list,
.firebaseui-tenant-list {
  margin: 0;

  >.firebaseui-list-item:last-child {
    margin-bottom: 0;

  }
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
  min-height: 36px;
  padding: ($gap) ($gap * 2);
}

.firebaseui-card-content {
  padding: 0;
}