@use 'src/styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

body.light-theme {
  --color-primary-0: #09090b;
  --color-primary-50: #18181b;
  --color-primary-100: #27272a;
  --color-primary-200: #3f3f46;
  --color-primary-300: #52525b;
  --color-primary-400: #71717a;
  --color-primary-500: #a1a1aa;
  --color-primary-600: #d4d4d8;
  --color-primary-700: #e4e4e7;
  --color-primary-800: #f4f4f5;
  --color-primary-900: #fafafa;
  --color-primary-950: #ffffff;

  --color-surface-0: #ffffff;
  --color-surface-50: #fafafa;
  --color-surface-100: #f4f4f5;
  --color-surface-200: #e4e4e7;
  --color-surface-300: #d4d4d8;
  --color-surface-400: #a1a1aa;
  --color-surface-500: #71717a;
  --color-surface-600: #52525b;
  --color-surface-700: #3f3f46;
  --color-surface-800: #27272a;
  --color-surface-900: #18181b;
  --color-surface-950: #09090b;

  --color-positive: forestgreen;
  --color-negative: orangered;
  --color-highlight: deepskyblue;
}

body.dark-theme {
  --color-primary-0: #ffffff;
  --color-primary-50: #fafafa;
  --color-primary-100: #f4f4f5;
  --color-primary-200: #e4e4e7;
  --color-primary-300: #d4d4d8;
  --color-primary-400: #a1a1aa;
  --color-primary-500: #71717a;
  --color-primary-600: #52525b;
  --color-primary-700: #3f3f46;
  --color-primary-800: #27272a;
  --color-primary-900: #18181b;
  --color-primary-950: #09090b;

  --color-surface-0: #09090b;
  --color-surface-50: #18181b;
  --color-surface-100: #27272a;
  --color-surface-200: #3f3f46;
  --color-surface-300: #52525b;
  --color-surface-400: #71717a;
  --color-surface-500: #a1a1aa;
  --color-surface-600: #d4d4d8;
  --color-surface-700: #e4e4e7;
  --color-surface-800: #f4f4f5;
  --color-surface-900: #fafafa;
  --color-surface-950: #ffffff;

  --color-positive: yellowgreen;
  --color-negative: orangered;
  --color-highlight: deepskyblue;
}

html {
  overflow: hidden;
}

body {
  --color-text-primary: var(--color-primary-800);
  --color-text-primary-hover: var(--color-primary-900);
  --color-text-primary-active: var(--color-primary-950);

  --color-text-secondary: var(--color-primary-200);
  --color-text-secondary-hover: var(--color-primary-100);
  --color-text-secondary-active: var(--color-primary-50);

  --color-button-background-primary: var(--color-surface-800);
  --color-button-background-primary-hover: var(--color-surface-700);
  --color-button-background-primary-active: var(--color-surface-600);

  --color-button-background-secondary: var(--color-surface-100);
  --color-button-background-secondary-hover: var(--color-surface-200);
  --color-button-background-secondary-active: var(--color-surface-300);

  --color-border: var(--color-surface-200);
  --color-border-lighter: var(--color-surface-300);
  --color-border-darker: var(--color-surface-100);

  --color-text-shadow: var(--color-primary-900);

  background-color: var(--color-surface-100);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

input,
textarea {
  min-width: 50px;
  min-height: variables.$button-height;
  padding: 0 variables.$gap-1;
  border: 0;
  color: var(--color-text-secondary);
  background-color: transparent;

  &:focus-visible {
    outline: initial;
  }
}

select {
  padding: variables.$gap-1;
  background-color: transparent;

  >option {
    background-color: var(--color-surface-100);
  }
}

input,
select,
textarea {
  min-height: variables.$button-height;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  border-radius: variables.$gap-1;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;

  &:focus-visible {
    outline: initial;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.fa-regular::before,
.fa-solid::before {
  min-width: 14px;
  display: inline-block;
  text-align: center;
}

.glass-effect {
  backdrop-filter: blur(5px);
  background-color: color-mix(in srgb, var(--color-surface-0) 65%, transparent);
}

.nowrap {
  white-space: nowrap;
}

.absolute {
  position: absolute !important;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.underline {
  text-decoration: underline solid var(--color-text-secondary);
}

.underline-highlight {
  text-decoration: underline solid var(--color-highlight);
}

.underline-positive {
  text-decoration: underline solid var(--color-positive);
}

.underline-negative {
  text-decoration: underline solid var(--color-negative);
}

.underline-dashed {
  text-decoration: underline dashed var(--color-text-secondary);
}

.underline-dashed-highlight {
  text-decoration: underline dashed var(--color-highlight);
}

.underline-dashed-positive {
  text-decoration: underline dashed var(--color-positive);
}

.underline-dashed-negative {
  text-decoration: underline dashed var(--color-negative);
}

.hover-container {
  .hover-visible {
    width: 0;
    opacity: 0;
    pointer-events: none;
  }

  .hover-hidden {
    opacity: 1;
    pointer-events: all;
  }

  &:hover {
    .hover-visible {
      width: auto;
      opacity: 1;
      pointer-events: all;
    }

    .hover-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.h-separator {
  border-top: 1px solid var(--color-border);
  align-self: normal;

  &.gap {
    margin: variables.$gap-1 0;
  }

  &.gap-top {
    margin-top: variables.$gap-1;
  }

  &.gap-bottom {
    margin-bottom: variables.$gap-1;
  }

  &.margins {
    width: calc(100% - variables.$gap-2);
    justify-self: center;
    align-self: center;
  }

  &.subtle {
    opacity: 0.5;
  }
}

.v-separator {
  border-right: 1px solid var(--color-border);
  align-self: normal;

  &.gap {
    margin: 0 variables.$gap-1;
  }

  &.gap-left {
    margin-left: variables.$gap-1;
  }

  &.gap-right {
    margin-right: variables.$gap-1;
  }

  &.margins {
    height: calc(100% - variables.$gap-2);
    align-self: center;
  }
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.display-none {
  display: none !important;
}

@media screen and (min-width:1280px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width:1280px) {
  .desktop-only {
    display: none !important;
  }
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transparent {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.opacity-0,
.opacity-000 {
  opacity: 0 !important;
}

.opacity-025 {
  opacity: 0.25 !important;
}

.opacity-050 {
  opacity: 0.5 !important;
}

.opacity-075 {
  opacity: 0.75 !important;
}

.opacity-1,
.opacity-100 {
  opacity: 1 !important;
}

.disabled {
  opacity: 0.25 !important;
  pointer-events: none !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.flex-0 {
  flex: 0 !important;
}

hr {
  margin: 0;
  border-color: var(--color-text-secondary);
  border-style: solid;
  border-width: 2px;
  border-bottom: 0;
  border-left: 0;
}

.highlight {
  color: var(--color-highlight);
}

.hover-highlight:hover {
  color: var(--color-highlight);
}

.positive {
  color: var(--color-positive);
}

.hover-positive:hover {
  color: var(--color-positive);
}

.negative {
  color: var(--color-negative);
}

.hover-negative:hover {
  color: var(--color-negative);
}

.grayscale {
  filter: grayscale(1);
}

.hover-brighten {
  &:hover {
    filter: brightness(1.5);
  }
}

.stack-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "content";
  position: relative;

  >* {
    grid-area: content;
  }
}

.stack-container-alt {
  position: relative;

  >* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.fluid {
  width: 100% !important;
}

.width-auto {
  width: auto !important;
}

.width-fit {
  width: fit-content;
}

.width-0 {
  width: 0;
}

.width-100 {
  width: 100%;
}

.min-width-0 {
  min-width: 0;
}

.height-auto {
  height: auto;
}

.height-100 {
  height: 100%;
}

.button {
  width: fit-content;
  min-width: variables.$button-height;
  min-height: variables.$button-height;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$gap-1;
  cursor: pointer;
  user-select: none;
  padding: 0 variables.$gap-3;
  box-sizing: border-box;
  border: 1px solid var(--color-border);

  background-color: var(--color-button-background-secondary);

  transition-property: background-color, opacity;
  transition-duration: variables.$transition-duration;

  &:hover {
    color: var(--color-text-secondary-hover);
    background-color: var(--color-button-background-secondary-hover);
  }

  &:active,
  &.active {
    color: var(--color-text-secondary-active);
    background-color: var(--color-button-background-secondary-active);
  }

  &.smaller {
    min-width: variables.$button-height-smaller;
    min-height: variables.$button-height-smaller;
    padding: 0 variables.$gap-1;
  }
}

.text-shadow {
  text-shadow: -1px 0 var(--color-text-shadow), 0 1px var(--color-text-shadow), 1px 0 var(--color-text-shadow), 0 -1px var(--color-text-shadow);
}

.icon-button,
.icon-button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$gap-1;
  text-shadow: -1px 0 var(--color-text-shadow), 0 1px var(--color-text-shadow), 1px 0 var(--color-text-shadow), 0 -1px var(--color-text-shadow);
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  background-color: var(--color-button-background-secondary);

  &:hover {
    color: var(--color-text-secondary-hover);
    background-color: var(--color-button-background-secondary-hover);
  }

  &:active,
  &.active {
    color: var(--color-text-secondary-active);
    background-color: var(--color-button-background-secondary-active);
  }

  width: variables.$button-height;
  height: variables.$button-height;
  min-width: variables.$button-height;
  min-height: variables.$button-height;

  &.smaller {
    width: variables.$button-height-smaller;
    height: variables.$button-height-smaller;
    min-width: variables.$button-height-smaller;
    min-height: variables.$button-height-smaller;
  }

  @media screen and (min-width:1280px) {
    cursor: pointer;

    transition-property: background-color;
    transition-duration: variables.$transition-duration * 0.5;
  }
}

span.button,
span.icon-button {
  user-select: none;
}

.dragging {
  opacity: 0.5;
}

.x-scrollbar-container {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.y-scrollbar-container {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.user-select-none {
  user-select: none;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.grow {
    flex: 1;
  }

  &.flex-start-h {
    justify-content: flex-start;
  }

  &.flex-start-v {
    align-items: flex-start;
  }

  &.flex-end-h {
    justify-content: flex-end;
  }

  &.flex-end-v {
    align-items: flex-end;
  }
}

.justify-self-end {
  justify-self: end;
}

.gap,
.gap-1 {
  gap: variables.$gap-1;
}

.gap-2 {
  gap: variables.$gap-2;
}

.gap-3 {
  gap: variables.$gap-3;
}

.margins-1 {
  margin: variables.$gap-1;
}

.margins-1-v {
  margin-top: variables.$gap-1;
  margin-bottom: variables.$gap-1;
}

.margins-1-h {
  margin-left: variables.$gap-1;
  margin-right: variables.$gap-1;
}

.margins-1-t {
  margin-top: variables.$gap-1;
}

.margins-1-r {
  margin-right: variables.$gap-1;
}

.margins-1-b {
  margin-bottom: variables.$gap-1;
}

.margins-1-l {
  margin-left: variables.$gap-1;
}

.margins-2 {
  margin: variables.$gap-2;
}

.margins-2-v {
  margin-top: variables.$gap-2;
  margin-bottom: variables.$gap-2;
}

.margins-2-h {
  margin-left: variables.$gap-2;
  margin-right: variables.$gap-2;
}

.margins-3 {
  margin: variables.$gap-3;
}

.margins-3-v {
  margin-top: variables.$gap-3;
  margin-bottom: variables.$gap-3;
}

.margins-3-h {
  margin-left: variables.$gap-3;
  margin-right: variables.$gap-3;
}

.padding-1 {
  padding: variables.$gap-1;
}

.padding-1-v {
  padding-top: variables.$gap-1;
  padding-bottom: variables.$gap-1;
}

.padding-1-h {
  padding-left: variables.$gap-1;
  padding-right: variables.$gap-1;
}

.padding-2 {
  padding: variables.$gap-2;
}

.padding-2-v {
  padding-top: variables.$gap-2;
  padding-bottom: variables.$gap-2;
}

.padding-2-h {
  padding-left: variables.$gap-2;
  padding-right: variables.$gap-2;
}

.padding-3 {
  padding: variables.$gap-3;
}

.padding-3-v {
  padding-top: variables.$gap-3;
  padding-bottom: variables.$gap-3;
}

.padding-3-h {
  padding-left: variables.$gap-3;
  padding-right: variables.$gap-3;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}


.center {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flip-h {
  transform: scaleX(-1);
}

.flip-v {
  transform: scaleY(-1);
}

.anim-fade {
  opacity: 1;
  transition: opacity variables.$transition-duration ease;
}

.anim-fade-in {
  @starting-style {
    opacity: 0;
  }
}

.anim-fade-out {
  opacity: 0;
  pointer-events: none;
}