@use 'src/styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

// scrollbar
// @media screen and (min-width:768px) {
//   * {
//     &::-webkit-scrollbar-track {
//       // margin: (-$gap);
//     }

//     &::-webkit-scrollbar {
//       width: variables.$gap * 2;
//       height: variables.$gap * 2;
//     }

//     &::-webkit-scrollbar-thumb {
//       background-clip: padding-box;
//       border: solid transparent;
//       border-width: variables.$gap variables.$gap variables.$gap 0;
//       background-color: var(--color-border);
//       min-width: 100px;
//       min-height: 100px;
//     }
//   }
// }

body.light-theme {
  --color-background-primary: #ffffff;
  --color-background-secondary: #e6e6e6;
  --color-background-hover: rgba(0, 0, 0, 0.1);
  --color-background-tippy: rgba(255, 255, 255, 0.75);
  --color-background-dialog: rgba(0, 0, 0, 0.15);

  --color-border: rgba(0, 0, 0, 0.2);

  --color-text: black;
  --color-text-hover: rgb(28, 28, 28);
  --color-text-shadow: rgba(255, 255, 255, 0.65);

  --color-primary: #0075ff;
  --color-secondary: #155197;
  --color-highlight: deepskyblue;
  --color-positive: forestgreen;
  --color-negative: orangered;
}

body.dark-theme {
  --color-background-primary: #202124;
  --color-background-secondary: #2b2c2f;
  --color-background-hover: rgba(255, 255, 255, 0.1);
  --color-background-tippy: rgba(0, 0, 0, 0.75);
  --color-background-dialog: rgba(0, 0, 0, 0.65);

  --color-border: rgba(255, 255, 255, 0.2);

  --color-text-shadow: rgba(0, 0, 0, 0.65);
  --color-text: #e1e1e1;
  --color-text-hover: white;

  --color-primary: #0075ff;
  --color-secondary: #155197;
  --color-highlight: deepskyblue;
  --color-positive: yellowgreen;
  --color-negative: orangered;
}

// tippy
@media screen and (max-width:768px) {
  body>[data-tippy-root] {
    display: none;
  }
}

.tippy-box {
  background-color: var(--color-background-tippy);
  border-radius: variables.$gap * 1.5;

  .tippy-content {
    color: var(--color-text);
    padding: variables.$gap;
  }
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
  bottom: -8px;
  border-top-color: var(--color-background-tippy);
}

.tippy-box[data-placement^='bottom']>.tippy-arrow::before {
  top: -8px;
  border-bottom-color: var(--color-background-tippy);
}

.tippy-box[data-placement^='left']>.tippy-arrow::before {
  right: -8px;
  border-left-color: var(--color-background-tippy);
}

.tippy-box[data-placement^='right']>.tippy-arrow::before {
  left: -8px;
  border-right-color: var(--color-background-tippy);
}

.tippy-hover-menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .tippy-hover-menu-button {
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px;

    &:hover {
      background-color: var(--color-border);
    }
  }
}

.fa-regular::before,
.fa-solid::before {
  min-width: 14px;
  display: inline-block;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.absolute {
  position: absolute !important;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.underline {
  text-decoration: underline solid var(--color-text);
}

.underline-highlight {
  text-decoration: underline solid var(--color-highlight);
}

.underline-positive {
  text-decoration: underline solid var(--color-positive);
}

.underline-negative {
  text-decoration: underline solid var(--color-negative);
}

.underline-dashed {
  text-decoration: underline dashed var(--color-text);
}

.underline-dashed-highlight {
  text-decoration: underline dashed var(--color-highlight);
}

.underline-dashed-positive {
  text-decoration: underline dashed var(--color-positive);
}

.underline-dashed-negative {
  text-decoration: underline dashed var(--color-negative);
}

.hover-container {
  .hover-visible {
    width: 0;
    opacity: 0;
    pointer-events: none;
  }

  .hover-hidden {
    opacity: 1;
    pointer-events: all;
  }

  &:hover {
    .hover-visible {
      width: auto;
      opacity: 1;
      pointer-events: all;
    }

    .hover-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.h-separator {
  border-top: 1px solid var(--color-border);
  align-self: normal;

  &.gap {
    margin: variables.$gap 0;
  }

  &.gap-top {
    margin-top: variables.$gap;
  }

  &.gap-bottom {
    margin-bottom: variables.$gap;
  }

  &.margins {
    width: calc(100% - 2 * variables.$gap);
    justify-self: center;
    align-self: center;
  }

  &.subtle {
    opacity: 0.5;
  }
}

.v-separator {
  border-right: 1px solid var(--color-border);
  align-self: normal;

  &.gap {
    margin: 0 variables.$gap;
  }

  &.gap-left {
    margin-left: variables.$gap;
  }

  &.gap-right {
    margin-right: variables.$gap;
  }

  &.margins {
    height: calc(100% - 2 * variables.$gap);
    align-self: center;
  }
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

input,
textarea {
  min-width: 50px;
  min-height: variables.$button-height;
  padding: 0 variables.$gap;
  border: 0;
  color: var(--color-text);
  background-color: transparent;

  &:focus-visible {
    outline: initial;
  }
}

select {
  padding: variables.$gap;
  background-color: transparent;

  >option {
    background-color: var(--color-background-primary);
  }
}

input,
select,
textarea {
  min-height: variables.$button-height;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  border-radius: variables.$gap * 0.5;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;

  &:focus-visible {
    outline: initial;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.display-none {
  display: none !important;
}

@media screen and (min-width:768px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width:768px) {
  .desktop-only {
    display: none !important;
  }
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transparent {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.opacity-0,
.opacity-000 {
  opacity: 0 !important;
}

.opacity-025 {
  opacity: 0.25 !important;
}

.opacity-050 {
  opacity: 0.5 !important;
}

.opacity-075 {
  opacity: 0.75 !important;
}

.opacity-1,
.opacity-100 {
  opacity: 1 !important;
}

.disabled {
  opacity: 0.25 !important;
  pointer-events: none !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.flex-0 {
  flex: 0 !important;
}

hr {
  margin: 0;
  border-color: var(--color-text);
  border-style: solid;
  border-width: 2px;
  border-bottom: 0;
  border-left: 0;
}

.highlight {
  color: var(--color-highlight);
}

.hover-highlight:hover {
  color: var(--color-highlight);
}

.positive {
  color: var(--color-positive);
}

.hover-positive:hover {
  color: var(--color-positive);
}

.negative {
  color: var(--color-negative);
}

.hover-negative:hover {
  color: var(--color-negative);
}

.grayscale {
  filter: grayscale(1);
}

.hover-brighten {
  &:hover {
    filter: brightness(1.5);
  }
}

.stack-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "content";

  >* {
    grid-area: content;
  }
}

.width-auto {
  width: auto;
}

.width-fit {
  width: fit-content;
}

.width-0 {
  width: 0;
}

.width-100 {
  width: 100%;
}

.min-width-0 {
  min-width: 0;
}

.height-auto {
  height: auto;
}

.height-100 {
  height: 100%;
}

.white-space-nowrap {
  white-space: nowrap;
}

.button {
  width: fit-content;
  min-width: variables.$button-height;
  min-height: variables.$button-height;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$gap;
  cursor: pointer;
  user-select: none;
  padding: 0 variables.$gap;
  box-sizing: border-box;
  border: 1px solid var(--color-border);

  background-color: var(--color-background-hover);
  // text-shadow: -0.5px 0 var(--color-text-shadow), 0 0.5px var(--color-text-shadow), 0.5px 0 var(--color-text-shadow), 0 -0.5px var(--color-text-shadow);

  transition-property: background-color, opacity;
  transition-duration: variables.$transition-duration;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}

.text-shadow {
  text-shadow: -1px 0 var(--color-text-shadow), 0 1px var(--color-text-shadow), 1px 0 var(--color-text-shadow), 0 -1px var(--color-text-shadow);
}

.icon-button,
.icon-button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$gap;
  text-shadow: -1px 0 var(--color-text-shadow), 0 1px var(--color-text-shadow), 1px 0 var(--color-text-shadow), 0 -1px var(--color-text-shadow);
  box-sizing: border-box;

  @media screen and (min-width:768px) {
    cursor: pointer;
    border: 1px solid transparent;

    transition-property: border-color, background-color;
    transition-duration: variables.$transition-duration * 0.5;

    &:not(.icon-button-no-hover):hover {
      border-color: rgba(0, 0, 0, 0.3);
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }
}

.icon-button {
  width: variables.$button-height;
  height: variables.$button-height;
  min-width: variables.$button-height;
  min-height: variables.$button-height;
}

.icon-button-small {
  width: variables.$button-height-small;
  height: variables.$button-height-small;
  min-width: variables.$button-height-small;
  min-height: variables.$button-height-small;
}

span.button,
span.icon-button {
  user-select: none;
}

.dragging {
  opacity: 0.5;
}

.x-scrollbar-container {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.y-scrollbar-container {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.user-select-none {
  user-select: none;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.grow {
    flex: 1;
  }

  &.flex-start-h {
    justify-content: flex-start;
  }

  &.flex-start-v {
    align-items: flex-start;
  }

  &.flex-end-h {
    justify-content: flex-end;
  }

  &.flex-end-v {
    align-items: flex-end;
  }
}

.justify-self-end {
  justify-self: end;
}

.gap,
.gap-1 {
  gap: variables.$gap;
}

.gap-2 {
  gap: variables.$gap * 2;
}

.gap-3 {
  gap: 1rem;
}

.margins-1 {
  margin: variables.$gap;
}

.margins-1-v {
  margin-top: variables.$gap;
  margin-bottom: variables.$gap;
}

.margins-1-h {
  margin-left: variables.$gap;
  margin-right: variables.$gap;
}

.margins-1-t {
  margin-top: variables.$gap;
}

.margins-1-r {
  margin-right: variables.$gap;
}

.margins-1-b {
  margin-bottom: variables.$gap;
}

.margins-1-l {
  margin-left: variables.$gap;
}

.margins-2 {
  margin: variables.$gap * 2;
}

.margins-2-v {
  margin-top: variables.$gap * 2;
  margin-bottom: variables.$gap * 2;
}

.margins-2-h {
  margin-left: variables.$gap * 2;
  margin-right: variables.$gap * 2;
}

.margins-3 {
  margin: 1rem;
}

.margins-3-v {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margins-3-h {
  margin-left: 1rem;
  margin-right: 1rem;
}

.padding-1 {
  padding: variables.$gap;
}

.padding-1-v {
  padding-top: variables.$gap;
  padding-bottom: variables.$gap;
}

.padding-1-h {
  padding-left: variables.$gap;
  padding-right: variables.$gap;
}

.padding-2 {
  padding: variables.$gap * 2;
}

.padding-2-v {
  padding-top: variables.$gap * 2;
  padding-bottom: variables.$gap * 2;
}

.padding-2-h {
  padding-left: variables.$gap * 2;
  padding-right: variables.$gap * 2;
}

.padding-3 {
  padding: 1rem;
}

.padding-3-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-3-h {
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}


.center {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flip-h {
  transform: scaleX(-1);
}

.flip-v {
  transform: scaleY(-1);
}

.loading-spinner {
  width: 75px;
  height: 75px;
  border-width: 3px;
  border-color: var(--color-background-secondary);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 50%;
  border-style: solid;
  position: absolute;
  z-index: 100;

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

// animations
:root {
  --animation-duration: 500ms;
  --animation-delay: 0ms;
  --drawer-animation-duration: 500ms;
}

@keyframes anim-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anim-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.anim-fade-in {
  animation: anim-fade-in var(--animation-duration, 500ms) ease var(--animation-delay, 0ms) forwards;
  will-change: opacity;
}

.anim-fade-out {
  pointer-events: none;
  animation: anim-fade-out var(--animation-duration, 500ms) ease var(--animation-delay, 0ms) forwards;
  will-change: opacity;
}

.anim-fade-between {
  --animation-duration: 333ms;
}

.anim-fade-between-leave {
  --animation-duration: 333ms;
  --animation-delay: 333ms;
  z-index: -1;
}

.drawer-animated {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height var(--drawer-animation-duration, 500ms) ease, opacity var(--drawer-animation-duration, 500ms) ease;
  will-change: max-height, opacity;
}

.drawer-animated.open {
  max-height: 9999px;
  opacity: 1;
}
