$gap-3: 1rem;
$gap-2: $gap-3 * 0.66666666;
$gap-1: $gap-3 * 0.33333333;

$button-height: 3rem;
$button-height-small: 2rem;
$button-height-smaller: 1.5rem;
$sidebar-width: 300px;

$gallery-tile-size: 220px;

$transition-duration: 500ms;
$transition-duration-fast: $transition-duration * 0.5;
$transition-duration-fastest: $transition-duration * 0.25;
$transition-duration-slow: $transition-duration * 2;
$transition-duration-slowest: $transition-duration * 4;
