@use 'src/styles/variables.scss';

:host {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  .input-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: variables.$gap;
    margin: variables.$gap;

    textarea {
      display: flex;
      flex: 1;
      align-items: center;
      color: var(--color-text);
      overflow-wrap: anywhere;
      border-radius: variables.$gap * 0.5;
      box-sizing: border-box;
      border: 1px solid var(--color-border);
      font-family: inherit;
      font-size: inherit;
      min-width: 50px;
      background-color: transparent;
      resize: none;
      padding: 0.5 * variables.$gap variables.$gap;

      &:focus-visible {
        outline: initial;
      }
    }

    .button {
      width: 100%;
    }
  }

  .comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    overflow: hidden;
    gap: variables.$gap;

    @media screen and (max-width:768px) {
      aspect-ratio: 2;
    }
  }
}