<div class="input-container">
  <textarea [placeholder]="tournament ? 'Leaderboard' : 'Entries'" [(ngModel)]="text" [readOnly]="tournament"></textarea>
  <span *ngIf="!tournament" class="button" (click)="parseText()">Parse</span>
</div>
<ng-container *ngIf="tournament">
  <div class="comparison" *ngIf="tournament.currentComparison">
    <span class="button" (click)="onEntryClick(tournament.currentComparison[0], tournament.currentComparison[1])">{{ tournament.currentComparison[0].id }}</span>
    <span class="button" (click)="onEntryClick(tournament.currentComparison[1], tournament.currentComparison[0])">{{ tournament.currentComparison[1].id }}</span>
  </div>
</ng-container>