@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: $gap;
  gap: $gap;

  span {
    padding-left: $gap;
  }

  input {
    width: 100%;
  }

  .section-header {
    display: flex;
    justify-content: space-between;

    .section-title {
      font-weight: bold;
      align-self: center;
    }
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    cursor: grab;
    border-radius: $gap;

    &:hover {
      background-color: var(--color-hover);
    }

    .section-buttons {
      display: flex;
    }

    .list-element {
      align-self: center;
    }
  }
}