<!-- Label -->
<div class="section-header">
  <span class="section-title">Label</span>
</div>
<input [(ngModel)]="editableScenario.label" />
<!-- Characters -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Characters</span>
  <i class="icon-button fa-solid fa-plus" tippy="Create Character" (click)="openCharacterEditor()"></i>
</div>
<div *ngFor="let character of editableScenario.characters" class="list-container" [dragdrop]="character" [dragdropParent]="editableScenario.characters">
  <span class="list-element">{{ character.id }} ({{ character.name }})</span>
  <div class="section-buttons">
    <i class="icon-button fa-solid fa-pen-to-square" tippy="Edit Character" (click)="openCharacterEditor(character)"></i>
    <i class="icon-button fa-solid fa-trash" tippy="Remove Character" (click)="deleteCharacter(character)"></i>
  </div>
</div>
<!-- Variables -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Variables</span>
  <i class="icon-button fa-solid fa-plus" tippy="Create Variable" (click)="openVariableEditor()"></i>
</div>
<div *ngFor="let variable of editableScenario.variables" class="list-container" [dragdrop]="variable" [dragdropParent]="editableScenario.variables">
  <span class="list-element">{{ variable.id }}</span>
  <div class="section-buttons">
    <i class="icon-button fa-solid fa-pen-to-square" tippy="Edit Variable" (click)="openVariableEditor(variable)"></i>
    <i class="icon-button fa-solid fa-trash" tippy="Remove Variable" (click)="deleteVariable(variable)"></i>
  </div>
</div>
<!-- Nodes -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Nodes</span>
  <i class="icon-button fa-solid fa-plus" tippy="Create Node" (click)="openNodeEditor()"></i>
</div>
<div *ngFor="let node of editableScenario.nodes" class="list-container" [dragdrop]="node" [dragdropParent]="editableScenario.nodes">
  <span class="list-element">{{ node.description }}</span>
  <div class="section-buttons">
    <i class="icon-button fa-solid fa-pen-to-square" tippy="Edit Node" (click)="openNodeEditor(node)"></i>
    <i class="icon-button fa-solid fa-trash" tippy="Remove Node" (click)="deleteNode(node)"></i>
  </div>
</div>
<!-- Buttons -->
<!-- <div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Buttons</span>
  <i class="icon-button fa-solid fa-plus" tippy="Create Button" (click)="openButtonEditor()"></i>
</div>
<div *ngFor="let button of editableScenario.buttons" class="list-container">
  <span class="list-element cursor-pointer">{{ button.text }}</span>
  <div class="section-buttons">
    <i class="icon-button fa-solid fa-pen-to-square" tippy="Edit Button" (click)="openButtonEditor(button)"></i>
    <i class="icon-button fa-solid fa-trash" tippy="Remove Button" (click)="deleteButton(button)"></i>
  </div>
</div> -->