@use 'src/styles/variables.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;

    .note-content {
      flex: 1;
      resize: none;
      border: none;
      line-height: 1.5rem;
      padding: (variables.$gap-1) variables.$gap-1;
      overflow-wrap: normal;
    }
  }
}
