<div class="header">
  <div class="header-start">
    <i class="mobile-only icon-button fa-solid fa-bars" (click)="stateService.sidebarVisible = !stateService.sidebarVisible"></i>
    <i class="desktop-only icon-button fa-solid" [ngClass]="stateService.sidebarVisible ? 'fa-bullseye' : 'fa-circle-dot'" tp="Focus Mode" (click)="stateService.sidebarVisible = !stateService.sidebarVisible"></i>
    <!-- <i class="desktop-only icon-button fa-solid fa-book" tp="Story" (click)="adventureService.storyVisible = !adventureService.storyVisible"></i> -->
    <!-- <i class="desktop-only icon-button fa-solid fa-file-import" tp="Import Data" (click)="import()"></i> -->
    <!-- <i class="desktop-only icon-button fa-solid fa-file-export" tp="Export Data" (click)="export()"></i> -->
  </div>
  <div class="header-center">
    <input class="desktop-only countdown-input" #countdownInput [class.user-select-none]="countdownInput.readOnly" (click)="onCountdownInputClick(countdownInput)" (input)="onCountdownInputChange(countdownInput)" (keypress)="onCountdownInputSubmit($event, countdownInput)" (focus)="countdownInput.select()" placeholder="Countdown" />
  </div>
  <div class="header-end">
    <i class="icon-button fa-solid" [ngClass]="applicationService.isDarkTheme() ? 'fa-moon' : 'fa-sun'" tp="Toggle Brightness Mode" (click)="applicationService.toggleTheme()"></i>
  </div>
</div>
<div class="content">
  <!-- Editor/Browser -->
  <app-sidebar [class.display-none]="!stateService.sidebarVisible"></app-sidebar>
  <div class="v-separator desktop-only" [class.mobile-only]="!stateService.sidebarVisible"></div>
  <div class="modules" [class.desktop-only]="stateService.sidebarVisible">
    <!-- Note Editor -->
    <app-note-editor></app-note-editor>
  </div>
</div>