@if (!loading) {
  <div class="stack-container-alt height-100">
    <div class="flex" [class.transparent]="viewMode != 'masonry'">
      <app-filter></app-filter>
      <app-masonry></app-masonry>
    </div>
    <app-image-tournament [class.transparent]="viewMode != 'tournament' || tournamentSubview != 'comparison'"></app-image-tournament>
    <app-image-tournament-longest-chain [class.transparent]="viewMode != 'tournament' || tournamentSubview != 'chain'"></app-image-tournament-longest-chain>
    <div class="fullscreen-container glass-effect height-100" [class.transparent]="!stateService.fullscreenImage()">
      <app-fullscreen></app-fullscreen>
      <div class="tagger-container">
        <div class="tagger-scroll-offset-helper"></div>
        <app-tagger></app-tagger>
      </div>
    </div>
  </div>
}
