@use 'src/styles/variables.scss';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .fullscreen-container {
    display: flex;
    overflow: hidden;
    transition: variables.$transition-duration;
    z-index: 1;
  }
}