@if (!loading) {
  <div class="stack-container-alt height-100">
    <div class="flex" [class.transparent]="viewMode != 'masonry'">
      <app-filter></app-filter>
      <app-masonry></app-masonry>
    </div>
    <app-image-tournament [class.transparent]="viewMode != 'tournament'"></app-image-tournament>
    <app-comparison-path [class.transparent]="viewMode != 'path'"></app-comparison-path>
    <div class="fullscreen-container glass-effect height-100" [class.transparent]="!stateService.fullscreenImage()">
      <app-fullscreen></app-fullscreen>
      <app-tagger></app-tagger>
    </div>
  </div>
}
