<div class="content-container y-scrollbar-container">
  <div *ngFor="let scenario of stateService.scenarios; let scenarioIndex = index;" class="scenario-container">
    <div class="scenario-label-container" (click)="setCurrentScenario(scenario)" [dragdrop]="scenario" [dragdropParent]="stateService.scenarios" (dragend)="googleService.updateAdventure()">
      <span class="scenario-label" [class.highlight]="scenario == stateService.currentScenario">{{ scenario.label }}</span>
      <div class="scenario-info">
        <span class="scenario-notes-word-count">{{ getNotesWordCount(scenario) }}</span>
        <div class="scenario-buttons">
          <i class="icon-button fa-solid fa-plus" tippy="Create Note" (click)="createNote(scenario)"></i>
          <i class="icon-button fa-solid fa-pen-to-square" tippy="Edit Scenario" (click)="openScenarioEditor(scenario)"></i>
          <i class="icon-button fa-solid fa-times" tippy="Remove Scenario" (click)="removeScenario(scenario)"></i>
        </div>
      </div>
    </div>
    <div *ngIf="stateService.currentScenario == scenario" @drawer class="scenario-notes-container">
      <div *ngFor="let note of scenario.notes" class="note-container" (click)="setCurrentNote(scenario, note)" [dragdrop]="note" [dragdropParent]="scenario.notes" (dragend)="googleService.updateAdventure()">
        <span class="note-label" [class.highlight]="note == stateService.currentScenario.currentNote">{{ note.label }}</span>
        <div class="note-info">
          <span class="note-word-count">{{ note.wordCount }}</span>
          <div class="note-buttons">
            <i class="icon-button fa-solid fa-times" tippy="Remove Note" (click)="removeNote(scenario, note)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-separator margins"></div>
<div class="button-container">
  <i class="icon-button fa-solid fa-plus" tippy="Create Scenario" (click)="openScenarioEditor()"></i>
  <i class="icon-button fa-solid fa-shuffle" tippy="Select Random Scenario and Note" (click)="setRandom()"></i>
</div>