<div class="header">
  <div class="header-item">
    <a [routerLink]="['/splav-2024/hlasovanie']">Hlasovanie</a>
  </div>
  <!-- <div class="header-item">
    <a href="/splav/tips">Príprava</a>
  </div>
  <div class="header-item">
    <a href="/splav/route">Trasa</a>
  </div>
  <div class="header-item">
    <a href="/splav/rules">Pravidlá</a>
  </div>
  <div class="header-item">
    <a href="/splav/gallery">Galéria</a>
  </div> -->

  <!-- <div class="header-item">
    <div (click)="authService.logout()">Odhlásiť sa</div>
  </div> -->
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>  