<div *ngIf="removable">
  <select [(ngModel)]="logic.operator" [class.select-disabled]="logic.conditions.length == 0">
    <option *ngFor="let operator of getLogicalOperators()">{{ operator }}</option>
  </select>
  <i class="icon-button fa-solid fa-times" tippy="Remove Logic" (click)="onRemoveLogicClick()"></i>
</div>
<ng-container *ngFor="let condition of logic.conditions">
  <div *ngIf="isVariableCondition(condition)">
    <select [(ngModel)]="condition.variable" [compareWith]="compareVariables">
      <option *ngFor="let variable of stateService.getVariables()" [ngValue]="variable">{{ variable.id }}</option>
    </select>
    <select [(ngModel)]="condition.operator">
      <option *ngFor="let operator of getComparisonOperators()">{{ operator }}</option>
    </select>
    <select [(ngModel)]="condition.value" [class.disabled]="!condition.variable.id" [compareWith]="compareOptions">
      <option *ngFor="let option of condition.variable.options" [ngValue]="option">{{ option.value }}</option>
    </select>
    <span class="icon-button fa-solid fa-times" tippy="Remove Condition" (click)="onRemoveConditionClick(condition)"></span>
  </div>
  <div *ngIf="isChanceCondition(condition)">
    <span class="input-percentage-container"><input type="number" [(ngModel)]="condition.chance" (input)="onChanceChange(condition, $event)">%</span>
    <span class="icon-button fa-solid fa-times" tippy="Remove Condition" (click)="onRemoveConditionClick(condition)"></span>
  </div>
</ng-container>
<div *ngIf="removable">
  <i class="icon-button fa-solid fa-question" (click)="createVariableCheck()"></i>
  <i *ngIf="!hasChanceCheck()" class="icon-button fa-solid fa-percent" tippy="Chance" (click)="createChanceCheck()"></i>
</div>
<div *ngIf="removable" class="h-separator"></div>
<ng-container *ngFor="let action of logic.actions">
  <div class="section-header">
    <span class="section-title">Action</span>
    <i class="icon-button fa-solid fa-plus" tippy="Create Action" (click)="createAction()"></i>
  </div>
  <app-action-editor [action]="action" [weightVisible]="logic.actions.length > 1" (removeAction)="onRemoveAction($event)"></app-action-editor>
</ng-container>