<!-- Weight -->
<ng-container *ngIf="weightVisible">
  <div class="section-header">
    <span class="section-title">Weight</span>
  </div>
  <div class="section-container">
    <input type="number" [(ngModel)]="action.weight" (input)="onWeightChange($event)">
    <i class="icon-button fa-solid fa-times" tp="Remove Action" (click)="onRemoveActionClick()"></i>
  </div>
</ng-container>
<!-- Next Node -->
<div *ngIf="weightVisible" class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Next Node</span>
</div>
<div class="section-container">
  <select [(ngModel)]="action.nextNodeId">
    <option *ngFor="let node of getAvailableNodes()" [ngValue]="node.id">({{ getParentScenario(node).label }} {{ node.description }})</option>
  </select>
  <i class="icon-button fa-solid fa-plus" tp="Create Node" (click)="createNode()"></i>
</div>
<!-- Story -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Story Changes</span>
  <i class="icon-button fa-solid fa-plus" tp="Create Story Change" (click)="createStoryChange()"></i>
</div>
<div *ngFor="let storyChange of action.storyChanges" class="section-container">
  <input [(ngModel)]="storyChange.value" />
  <i class="icon-button fa-solid fa-times" tp="Remove Story Change" (click)="removeStoryChange(storyChange)"></i>
</div>
<!-- Variables -->
<div class="h-separator"></div>
<div class="section-header">
  <span class="section-title">Variable Changes</span>
  <i class="icon-button fa-solid fa-plus" tp="Create Variable Change" (click)="createVariableChange()"></i>
</div>
<div *ngFor="let variableChange of action.variableChanges" class="section-container">
  <select [(ngModel)]="variableChange.id">
    <option *ngFor="let variable of getAvailableVariables()" [ngValue]="variable.id">{{ variable.id }}</option>
  </select>
  <select [class.disabled]="!variableChange.id" [(ngModel)]="variableChange.value">
    <option *ngFor="let variableOption of getVariableOptions(variableChange)" [ngValue]="variableOption.id">{{ variableOption.value }}</option>
  </select>
  <i class="icon-button fa-solid fa-times" tp="Remove Variable Change" (click)="removeVariableChange(variableChange)"></i>
</div>