@import 'src/styles/variables.scss';

:host {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  transition: $transition-duration;

  .fullscreen-header {
    z-index: 30;
    padding: $gap;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;

    >* {
      pointer-events: all;
    }
  }

  .fullscreen-footer {
    z-index: 30;
    padding: $gap;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    >* {
      pointer-events: all;
    }

    .buttons {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .resolution-info {
        width: $button-height;
        height: $button-height;
        min-width: $button-height;
        min-height: $button-height;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        box-sizing: border-box;
        text-shadow: -1px 0 var(--color-text-shadow), 0 1px var(--color-text-shadow), 1px 0 var(--color-text-shadow), 0 -1px var(--color-text-shadow);
      }
    }
  }

  .fullscreen-crossfade {
    width: 100%;
    height: 100%;
    padding: $gap;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    user-select: none;

    .fullscreen-content {
      width: 100%;
      height: 100%;
      outline: none;
      object-fit: contain;

      transition-property: opacity;
      transition-duration: $transition-duration;

      &[src=""] {
        opacity: 0;
      }
    }
  }
}