<div *ngVar="stateService.target() as target" class="fullscreen-container" [class.transparent]="!stateService.fullscreenVisible()">
  <div class="fullscreen-header">
    <div>

    </div>
    <div>
      <i class="icon-button fa-solid fa-xmark" (click)="stateService.fullscreenVisible.set(false)"></i>
      <i class="icon-button fa-heart" [ngClass]="target?.heart ? 'fa-solid' : 'fa-regular'" tippy="Favorite" (click)="stateService.toggleHeart(target)"></i>
      <i class="icon-button fa-bookmark" [ngClass]="target?.bookmark ? 'fa-solid' : 'fa-regular'" tippy="Bookmark" (click)="stateService.toggleBookmark(target)"></i>
      <!-- <i *ngIf="video" class="icon-button fa-regular fa-image" tippy="Snapshot" (click)="snapshot()"></i> -->
    </div>
  </div>
  <div class="fullscreen-footer desktop-hidden">
    <div style="justify-content: start;">

    </div>
    <div style="justify-content: center;">
      <i class="icon-button fa-solid fa-arrows-spin" [class.disabled]="!target?.hasGroup()" (click)="stateService.setRandomGroupTarget()"></i>
      <i class="icon-button fa-solid fa-shuffle" (click)="stateService.setRandomTarget()"></i>
    </div>
    <div style="justify-content: end;">
      <i class="icon-button fa-solid fa-trash" tippy="Trash" (click)="stateService.moveTargetToTrash()"></i>
    </div>
  </div>
  <div *ngFor="let image of crossfadeHelper" @fade class="fullscreen-crossfade">
    <iframe *ngIf="video" class="fullscreen-content" [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'" frameborder="0" allowfullscreen></iframe>
    <!-- <video *ngIf="video" id="video-element" class="fullscreen-content" controls [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'"></video> -->
    <ng-container *ngIf="!video">
      <img class="fullscreen-content" [src]="getSrc(image)" (click)="onImageClick(image)">
      <img style="display: none;" [src]="image.thumbnailLink" (load)="loadingT = false">
      <img *ngIf="image.contentLink" style="display: none;" [src]="image.contentLink" (load)="loadingC = false">
    </ng-container>
  </div>
</div>