<ng-container *ngVar="stateService.target() as target">
  <div class="fullscreen-header">
    <div>
      <i class="icon-button fa-solid fa-arrow-left" (click)="stateService.fullscreenVisible.set(false)"></i>
      <i *ngIf="target?.group" class="icon-button fa-solid fa-arrows-spin" tp="Random Image from Group" (click)="setRandomGroupTarget()"></i>
      <i class="icon-button fa-solid fa-shuffle" tp="Random Image" (click)="setRandomTarget()"></i>
    </div>
    <div>
      <i class="icon-button fa-heart" [ngClass]="target?.heart ? 'fa-solid' : 'fa-regular'" tp="Favorite" (click)="stateService.toggleHeart(target)"></i>
      <i class="icon-button fa-bookmark" [ngClass]="target?.bookmark ? 'fa-solid' : 'fa-regular'" tp="Bookmark" (click)="stateService.toggleBookmark(target)"></i>
      <span class="icon-button" tp="Like" (click)="stateService.like(target)" (contextmenu)="$event.preventDefault(); stateService.dislike(target);">{{ target?.likes }}</span>
      <!-- <i *ngIf="video" class="icon-button fa-regular fa-image" tp="Snapshot" (click)="snapshot()"></i> -->
    </div>
  </div>
  <div class="fullscreen-footer">
    <div class="buttons">
      <div style="justify-content: start;">
        <i class="icon-button fa-solid fa-box" tp="Archive" (click)="stateService.delete(target, true)"></i>
        <i class="icon-button fa-solid fa-trash" tp="Delete" (click)="stateService.delete(target, false)"></i>
      </div>
      <div class="flex column center">
        <div class="tags">
          <div *ngFor="let tagId of target?.tagIds" class="tag-bubble" [tp]="tagHoverMenu" [tpData]="tagId" tpVariation="hovermenu">
            <span>{{ stateService.getTag(tagId).name }}</span>
          </div>
          <div class="tag-bubble" style="display: flex; position: relative; padding-right: 0;">
            <div style="width: 100%;">
              <input style="position: absolute; width: 100%; border: 0; padding: 0; user-select: none; pointer-events: none;" [placeholder]="tagMatch?.name || (tagInput.value.length > 0 ? '' : 'Tag Search')">
              <input #tagInput id="tag-input" style="position: relative; width: 100%; border: 0; padding: 0;" (input)="onTagInput($event)" (keypress)="onTagInputSubmit($event)" autocomplete="off">
            </div>
            <i class="icon-button fa-solid fa-plus" (click)="onTagInputSubmit()"></i>
          </div>
        </div>
        <div *ngIf="target?.group" class="flex">
          <i [class.disabled]="isFirstGroupImage(target)" class="icon-button fa-solid fa-arrow-left" (click)="moveTargetGroupLeft(target)"></i>
          <i [class.disabled]="isLastGroupImage(target)" class="icon-button fa-solid fa-arrow-right" (click)="moveTargetGroupRight(target)"></i>
        </div>
      </div>
      <div style="justify-content: end;">
        <span>{{ target.imageMediaMetadata.width }} x {{ target.imageMediaMetadata.height }}</span>
      </div>
    </div>
  </div>
  <div *ngFor="let image of crossfadeHelper" @fade class="fullscreen-crossfade">
    <iframe *ngIf="video" class="fullscreen-content" [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'" frameborder="0" allowfullscreen></iframe>
    <!-- <video *ngIf="video" id="video-element" class="fullscreen-content" controls [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'"></video> -->
    <ng-container *ngIf="!video">
      <img class="fullscreen-content" [src]="getSrc(image)" (click)="onImageClick(image)">
      <img style="display: none;" [src]="image.thumbnailLink" (load)="loadingT = false">
      <img *ngIf="image.contentLink" style="display: none;" [src]="image.contentLink" (load)="loadingC = false">
    </ng-container>
  </div>
</ng-container>

<ng-template #tagHoverMenu let-item="data">
  <div class="tippy-hover-menu-container">
    <span class="tippy-hover-menu-button" (click)="editTag(item)">Edit</span>
    <span class="tippy-hover-menu-button" (click)="removeTag(item)">Remove</span>
  </div>
</ng-template>