@use 'src/styles/variables.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  color: var(--color-text-secondary);
  position: relative;
}

.app-content {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  position: relative;
}

.loading-overlay-bar {
  width: 100%;
  height: 1px;
  position: absolute;
  pointer-events: none;
  z-index: 101;

  background-color: transparent;
  transition-property: background-color;
  transition-duration: variables.$transition-duration;
}

.loading-overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backdrop-filter: blur(3px);
  z-index: 100;
  inset: 0;

  .loading-spinner {
    width: 75px;
    height: 75px;
    border-width: 3px;
    border-color: var(--color-surface-200);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 50%;
    border-style: solid;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
