@if (stateService.fullscreenImage(); as target) {
  <img style="display: none" [src]="target.thumbnailLink" (load)="loadingT = false" />
  <img style="display: none" [src]="target.contentLink" (load)="loadingC = false" />

  <div class="fullscreen-container anim-fade-in" [class.hide-comparison-relations]="!stateService.settings.showFullscreenComparisonRelations" animate.leave="anim-fade-out">
    <div class="comparison-winners">
      @if (comparisonWinners.length) {
        @for (image of comparisonWinners; track image.id) {
          <img [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(image, target)" />
        }
      }
    </div>

    <div class="flex-1 stack-container">
      <app-image class="anim-fade-in" [src]="target.contentLink" [placeholderSrc]="target.thumbnailLink" (click)="onImageClick(target)" animate.leave="anim-fade-out"></app-image>
    </div>

    <div class="comparison-losers">
      @if (comparisonLosers.length) {
        @for (image of comparisonLosers; track image.id) {
          <img [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(target, image)" />
        }
      }
    </div>
  </div>
}
<!-- <iframe *ngIf="video" class="fullscreen-content" [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'" frameborder="0" allowfullscreen></iframe> -->
<!-- <video *ngIf="video" id="video-element" class="fullscreen-content" controls [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'"></video> -->
