@use 'src/styles/variables.scss';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width:1280px) {
    min-width: 100%;
  }

  @media screen and (min-width:1280px) {
    .drawer-container {
      width: 3rem;
      min-width: 3rem;
      transition-property: width, min-width, opacity, transform;
      transition-duration: variables.$transition-duration;

      &:not(.drawer-visible) {
        width: 0;
        min-width: 0;
        opacity: 0;
        transform: translateX(3rem);
        pointer-events: none;
        border: 0;
      }
    }
  }

  .fullscreen-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &.hide-comparison-relations {
      .comparison-winners {
        transform: translateX(-100%);
      }

      .comparison-losers {
        transform: translateX(100%);
      }
    }
  }

  .no-group-container {
    display: flex;
    justify-content: center;
    margin: variables.$gap-1 0;

    img {
      outline: none;
      object-fit: contain;
      user-select: none;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .group-container {
    display: flex;
    flex-direction: column;
    gap: variables.$gap-1;
    justify-content: flex-end;

    .group-images-container {
      height: 120px;
      display: grid;
      overflow: auto;

      .group-images-scroll-container {
        display: grid;
        grid-auto-flow: column dense;
        grid-gap: variables.$gap-1;
        justify-self: center;

        .group-image-container {
          display: flex;
          position: relative;
          border-radius: variables.$gap-1;
          cursor: pointer;
          overflow: hidden;

          app-image.grayscale {
            opacity: 0.5 !important;
            filter: grayscale(1);
          }

          .target-border {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: inherit;
            pointer-events: none;

            &.target {
              box-sizing: border-box;
              border: 2px solid var(--color-positive);
            }
          }
        }
      }
    }
  }

  .comparison-winners,
  .comparison-losers {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: variables.$gap-1;
    padding: variables.$gap-1;
    z-index: 1;
    transform: translateX(0);
    transition: transform variables.$transition-duration ease;
    overflow: auto;
    max-height: 100%;

    img {
      display: block;
      width: 64px;
      border-radius: variables.$gap-1;
      border: 1px solid var(--color-border);
      cursor: pointer;
    }
  }

  .comparison-winners {
    left: 0;
  }

  .comparison-losers {
    right: 0;
  }

}