@use 'src/styles/variables.scss';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width:1280px) {
    min-width: 100%;
  }

  .fullscreen-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &.hide-comparison-relations {
      .comparison-winners {
        transform: translateX(-100%);
      }

      .comparison-losers {
        transform: translateX(100%);
      }
    }
  }

  .comparison-winners,
  .comparison-losers {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: variables.$gap-1;
    padding: variables.$gap-1;
    z-index: 1;
    transform: translateX(0);
    transition: transform variables.$transition-duration ease;
    overflow: auto;
    max-height: 100%;

    img {
      display: block;
      width: 64px;
      border-radius: variables.$gap-1;
      border: 1px solid var(--color-border);
      cursor: pointer;
    }
  }

  .comparison-winners {
    left: 0;
  }

  .comparison-losers {
    right: 0;
  }

}