@if (stateService.fullscreenImage(); as target) {
  <img style="display: none" [src]="target.thumbnailLink" (load)="loadingT = false" />
  <img style="display: none" [src]="target.contentLink" (load)="loadingC = false" />
  <div class="fullscreen-container anim-fade-in" [class.hide-comparison-relations]="hideComparisonRelations" animate.leave="anim-fade-out">
    <div class="comparison-winners">
      @if (comparisonWinners.length) {
        @for (image of comparisonWinners; track image.id) {
          <img [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(image, target)" />
        }
      }
    </div>

    <div class="flex-1 stack-container">
      @if (target.group) {
        <div class="group-container anim-fade-in" animate.leave="anim-fade-out">
          <app-image [src]="target.contentLink" [placeholderSrc]="target.thumbnailLink" (click)="onImageClick(target)"></app-image>
          <div class="group-images-container stack-container-alt height-auto justify-content-center">
            @for (group of [target.group]; track groupTracker) {
              <div class="group-images-scroll-container anim-fade-in" animate.leave="anim-fade-out">
                @for (groupImage of group.images; track groupImage.id) {
                  <div class="group-image-container" (click)="stateService.fullscreenImage.set(groupImage)">
                    <app-image [src]="groupImage.thumbnailLink" [class.grayscale]="!groupImage.passesFilters" [style.width.px]="120 * groupImage.aspectRatio"></app-image>
                    <div class="target-border" [class.target]="groupImage == target"></div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      } @else {
        <app-image class="anim-fade-in" [src]="target.contentLink" [placeholderSrc]="target.thumbnailLink" (click)="onImageClick(target)" animate.leave="anim-fade-out"></app-image>
      }
    </div>

    <div class="comparison-losers">
      @if (comparisonLosers.length) {
        @for (image of comparisonLosers; track image.id) {
          <img [src]="image.thumbnailLink" loading="lazy" (click)="openComparisonPath(target, image)" />
        }
      }
    </div>
  </div>
}
<!-- <iframe *ngIf="video" class="fullscreen-content" [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'" frameborder="0" allowfullscreen></iframe> -->
<!-- <video *ngIf="video" id="video-element" class="fullscreen-content" controls [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'"></video> -->
