@if (stateService.fullscreenImage(); as target) {
  <img style="display: none" [src]="target.thumbnailLink" (load)="loadingT = false" />
  <img style="display: none" [src]="target.contentLink" (load)="loadingC = false" />
  <div class="fullscreen-container">
    <div class="sidebar-left">
      <div class="sidebar-start">
        <i class="icon-button fa-solid fa-arrow-left" title="Back" tpPlacement="right" (click)="stateService.fullscreenImage.set(null)"></i>
        <div class="h-separator"></div>
        <i class="icon-button fa-solid fa-shuffle" title="Random Image" tpPlacement="right" (click)="setRandomTarget()"></i>
      </div>
      <div class="sidebar-center"></div>
      <div class="sidebar-end">
        @if (target.group) {
          <i class="icon-button fa-solid fa-arrows-spin" title="Random Image from Group" tpPlacement="right" (click)="setRandomGroupTarget()"></i>
          <i class="icon-button fa-solid fa-code-compare" title="Group Comparison" tpPlacement="right" (click)="openGroupComparison()"></i>
          <i class="icon-button fa-solid fa-object-group" title="Group Manager" tpPlacement="left" (click)="galleryService.openImageGroupEditor(target.group)"></i>
        }
        @if (stateService.settings.showFileInformation) {
          <div class="file-information glass-effect">
            <div class="file-name" [title]="target.name">{{ target.name }}</div>
            @if (getFileSize(target); as fileSize) {
              <div class="file-row">
                <span class="label">Size</span>
                <span class="value">{{ fileSize }}</span>
              </div>
            }
            @if (getResolution(target); as resolution) {
              <div class="file-row">
                <span class="label">Resolution</span>
                <span class="value">{{ resolution }}</span>
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="flex-1 stack-container">
      @if (target.group) {
        <div class="group-container">
          <app-image [src]="target.contentLink" [placeholderSrc]="target.thumbnailLink" (click)="onImageClick(target)"></app-image>
          <div class="group-images-container stack-container-alt height-auto justify-content-center">
            @for (group of [target.group]; track groupTracker) {
              <div class="group-images-scroll-container" animate.enter="anim-fade-in" animate.leave="anim-fade-out">
                @for (groupImage of group.images; track groupImage.id) {
                  <div class="group-image-container" (click)="stateService.fullscreenImage.set(groupImage)">
                    <app-image [src]="groupImage.thumbnailLink" [class.grayscale]="!groupImage.passesFilters" [style.width.px]="120 * groupImage.aspectRatio"></app-image>
                    <div class="target-border" [class.target]="groupImage == target"></div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      } @else {
        <app-image class="margins-1-v" [src]="target.contentLink" [placeholderSrc]="target.thumbnailLink" (click)="onImageClick(target)"></app-image>
      }
    </div>

    <div class="sidebar-right">
      <div class="sidebar-start">
        <i class="icon-button fa-solid fa-times" title="Close" tpPlacement="left" (click)="stateService.fullscreenImage.set(null)"></i>
        <div class="h-separator"></div>
        <i class="icon-button fa-heart" [ngClass]="target.heart ? 'fa-solid' : 'fa-regular'" title="Favorite" tpPlacement="left" (click)="galleryService.toggleFavorite(target)"></i>
        <i class="icon-button fa-bookmark" [ngClass]="target.bookmark ? 'fa-solid' : 'fa-regular'" title="Bookmark" tpPlacement="left" (click)="galleryService.toggleBookmark(target)"></i>
        <div class="drawer-container" [class.drawer-visible]="!stateService.taggerVisible">
          <i class="icon-button fa-solid fa-tags" title="Open Tag Manager" tpPlacement="left" (click)="stateService.taggerVisible = !stateService.taggerVisible"></i>
        </div>
      </div>
      <div class="sidebar-center"></div>
      <div class="sidebar-end">
        @if (ScreenUtils.isLargeScreen()) {
          <i class="icon-button fa-solid fa-left-right" title="Flip" tpPlacement="right" (click)="flip = !flip"></i>
          <div class="h-separator"></div>
          <i class="icon-button fa-solid fa-download" title="Download" tpPlacement="right" (click)="googleService.download(target)"></i>
          <div class="h-separator"></div>
          <i class="icon-button fa-brands fa-google-drive" title="Google Drive" tpPlacement="right" (click)="$event.stopPropagation(); googleService.openSearch(target.name)"></i>
          <i
            class="icon-button fa-brands fa-yandex-international"
            title="Yandex RIS"
            tpPlacement="right"
            (click)="$event.stopPropagation(); galleryService.openYandexReverseImageSearch($event, target)"></i>
          <div class="h-separator"></div>
        }
        <i class="icon-button fa-solid fa-box" title="Archive" tpPlacement="right" (click)="galleryService.delete(target, true)"></i>
        <i class="icon-button fa-solid fa-trash" title="Delete" tpPlacement="right" (click)="galleryService.delete(target, false)"></i>
      </div>
    </div>
  </div>
}
<!-- <iframe *ngIf="video" class="fullscreen-content" [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'" frameborder="0" allowfullscreen></iframe> -->
<!-- <video *ngIf="video" id="video-element" class="fullscreen-content" controls [src]="image.contentLink" [style]="'max-width:' + image.videoMediaMetadata.width + 'px;max-height:' + image.videoMediaMetadata.height + 'px;'"></video> -->
