<div class="dialog-container" [style.top.px]="top" [style.left.px]="left" [class.border-warning]="borderWarning">
  @if (contentComponentInstance?.configuration; as configuration) {
    @if (!configuration.hideClickOverlay) {
      <div class="overlay-effect" #overlay (click)="overlayClick()"></div>
    }
    @if (configuration.title || configuration.headerButtons) {
      <div #header class="header" (mousedown)="onHeaderMouseDown($event, header)">
        @if (configuration.title) {
          <span class="header-title">{{ getTitle() }}</span>
        }
        @if (configuration.headerButtons) {
          <div class="flex gap">
            @for (button of configuration.headerButtons; track $index) {
              @if (!isHidden(button)) {
                @if (button.iconClass) {
                  <i [class]="'icon-button ' + getButtonIconClass(button)" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()"></i>
                }
                @if (button.text) {
                  <div class="button" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()">{{ getButtonText(button) }}</div>
                }
              }
            }
          </div>
        }
      </div>
    }
  }
  @if (contentComponentType) {
    <div class="content">
      <ng-container #content></ng-container>
    </div>
  }
  @if (contentComponentInstance?.configuration; as configuration) {
    <div class="buttons">
      @for (button of configuration.footerButtons; track $index) {
        @if (!isHidden(button)) {
          @if (button.iconClass) {
            <i [class]="'icon-button ' + getButtonIconClass(button)" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()"></i>
          }
          @if (button.text) {
            <div class="button" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()">{{ getButtonText(button) }}</div>
          }
        }
      }
    </div>
  }
</div>
