<ng-container *ngIf="contentInstance">
  <div *ngIf="contentInstance.configuration.title" class="header">
    <span>{{ contentInstance.configuration.title }}</span>
    <i *ngIf="!contentInstance.configuration.hideTopRightCloseButton" class="icon-button fa-solid fa-times" (click)="close()"></i>
  </div>
</ng-container>
<div *ngIf="contentComponentType" class="content">
  <ng-container #content></ng-container>
</div>
<div *ngIf="contentInstance" class="buttons">
  <ng-container *ngFor="let button of contentInstance.configuration.buttons">
    <ng-container *ngIf="!isHidden(button)">
      <i *ngIf="button.iconClass" [class]="'icon-button ' + getIconClass(button)" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()"></i>
      <div *ngIf="button.text" class="button" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()">{{ getText(button) }}</div>
    </ng-container>
  </ng-container>
</div>