@use 'src/styles/variables.scss';

:host {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: hidden;
  pointer-events: none;
}

.dialog-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: variables.$gap-2;
  min-width: 300px;
  background-color: var(--color-surface-100);
  pointer-events: all;

  @media screen and (max-width:1280px) {
    max-width: calc(100% - variables.$gap-1 * 2);
    max-height: calc(100% - variables.$gap-1 * 2);
    margin: variables.$gap-1;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width:1280px) {
    max-width: 80%;
    max-height: 80%;
  }

  &.border-warning {
    border-color: var(--color-negative);
  }

  &:not(.border-warning) {
    transition: border-color 500ms;
  }

  .content {
    display: flex;
    overflow: auto;
    justify-content: center;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: variables.$gap-3;
  gap: variables.$gap-1;
  border-bottom: 1px solid var(--color-border);

  &:has(i) {
    padding: variables.$gap-1 variables.$gap-1 variables.$gap-1 variables.$gap-3;
  }

  .header-title {
    pointer-events: none;
  }
}

.buttons {
  gap: variables.$gap-1;
  padding: variables.$gap-1;
  height: variables.$button-height;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--color-border);
}

.button {
  flex: 1;
  transition: variables.$transition-duration;
  white-space: nowrap;
  min-width: auto;
}

.overlay-effect {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  user-select: none;
}