@if (contentComponentInstance) {
  @if (!contentComponentInstance.configuration.hideClickOverlay) {
    <div class="overlay-effect" #overlay (click)="overlayClick()"></div>
  }
  @if (contentComponentInstance.configuration.title) {
    <div #header class="header" (mousedown)="onHeaderMouseDown($event, header)">
      <span class="header-title">{{ getTitle() }}</span>
      <div class="flex gap">
        @if (!contentComponentInstance.configuration.hideHeaderCloseButton) {
          <i class="icon-button fa-solid fa-times" (click)="contentComponentInstance.close()"></i>
        }
      </div>
    </div>
  }
}
@if (contentComponentType) {
  <div class="content">
    <ng-container #content></ng-container>
  </div>
}
@if (contentComponentInstance) {
  <div class="buttons">
    @for (button of contentComponentInstance.configuration.buttons; track button.id) {
      @if (!isHidden(button)) {
        @if (button.iconClass) {
          <i [class]="'icon-button ' + getButtonIconClass(button)" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()"></i>
        }
        @if (button.text) {
          <div class="button" [class.disabled]="isDisabled(button)" (click)="button.click && button.click()">{{ getButtonText(button) }}</div>
        }
      }
    }
  </div>
}