<div class="header-start">
  <i class="icon-button fa-solid fa-code-compare" tp="Open Comparison" (click)="galleryService.openImageComparison()"></i>
  <i class="icon-button fa-solid fa-folder-plus" tp="Create Image Group" (click)="galleryService.openImageGroupEditor()"></i>
</div>
<div class="header-center">
  
</div>
<div class="header-end">
  <i class="icon-button fa-solid" [ngClass]="applicationService.isDarkTheme() ? 'fa-moon' : 'fa-sun'" tp="Brightness Mode" (click)="applicationService.toggleTheme()"></i>
  <i class="icon-button fa-solid fa-gear" tp="Settings" (click)="galleryService.openSettings()"></i>
</div>