<div class="flex column gap">
  <span>Tags</span>
  <div class="h-separator"></div>
  <div *ngFor="let tag of tags" class="tag-container-current" [dragdrop]="tag" [dragdropParent]="tags" (click)="remove(tag)">
    <i class="icon-button-smaller fa-solid fa-pen-to-square" (click)="editTag(tag); $event.stopPropagation();"></i>
    <span>{{ tag }}</span>
    <i class="fa-solid fa-caret-right" style="justify-self: end;"></i>
  </div>
</div>
<div class="v-separator"></div>
<div class="flex column gap">
  <span>Available Tags</span>
  <div class="h-separator"></div>
  <div *ngFor="let tag of availableTags" class="tag-container-available" (click)="add(tag)">
    <i class="fa-solid fa-caret-left"></i>
    <span>{{ tag }}</span>
    <div class="flex" style="justify-content: end;">
      <i class="icon-button-smaller fa-solid fa-pen-to-square" (click)="editTag(tag); $event.stopPropagation();"></i>
      <i class="icon-button-smaller fa-solid fa-trash" (click)="deleteTag(tag); $event.stopPropagation();"></i>
    </div>
  </div>
  <i class="icon-button-smaller fa-solid fa-plus create-tag-button" (click)="editTag()"></i>
</div>