@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: ($gap * 2) 0;
  top: 0;
  bottom: 0;

  @media screen and (max-width:600px) {
    width: calc(100% - ($gap * 4));
    padding: ($gap * 2);
  }

  @media screen and (min-width:600px) {
    width: 48rem;
    padding: ($gap * 2) 0;
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: ($gap * 2);
    width: 100%;

    .title {
      display: block;
      text-align: center;
      font-size: 36px; // TODO ($font-size * 2)
    }

    .result-container {
      border: 1px solid var(--color-border);
      border-radius: $gap;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.05);
      padding: ($gap * 2);
      gap: $gap;

      transition-property: gap;
      transition-duration: $transition-duration;

      &.closed {
        cursor: pointer;
        gap: 0;
      }

      .result-title {
        font-size: 24px;
        text-align: center;
      }

      .result-description {
        font-size: 16px;
      }

      .result-options {
        display: flex;
        flex-direction: column;
        gap: $gap;
        width: 100%;
        overflow: hidden;

        .result-option {
          display: flex;
          flex-direction: column;
          gap: ($gap * 0.5);

          .result-header {
            width: 100%;
            display: flex;
            gap: ($gap * 2);
            justify-content: space-between;

            .choice-labels {
              display: flex;
              align-items: center;
              gap: $gap;
              // flex-direction: column;

              .choice-text {
                min-width: fit-content;

                &.has-link {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }

              .choice-description {
                font-size: 14px;
              }
            }

            .result-statistics {
              display: flex;
              gap: $gap;
            }
          }

          .progress-container {
            width: 100%;
            border-radius: $gap;
            background-color: var(--color-hover);
            border: 1px solid var(--color-border);
            box-sizing: border-box;

            .progress {
              min-height: 0.334rem;
              background-color: var(--color-primary);
              border-radius: $gap;
              box-sizing: border-box;
            }
          }

          >progress {
            width: 100%;
            height: 18px;
          }
        }
      }
    }
  }
}