<div class="desktop-only">
  <input class="search-input" #searchInput (input)="onSearchInputChange(searchInput)" (focus)="searchInput.select()" placeholder="Search" />
  <div class="h-separator"></div>
</div>
<div class="flex column y-scrollbar-container">
  <div class="flex column">
    <ng-container *ngFor="let article of stateService.getRoot(); let i = index">
      <div *ngIf="i != 0" class="h-separator subtle"></div>
      <app-sidebar-row [article]="article"></app-sidebar-row>
    </ng-container>
  </div>
</div>
<div class="h-separator"></div>
<div class="button-container">
  <i class="icon-button-small fa-solid fa-plus" tp="Create Story" (click)="stateService.create()"></i>
</div>
