@use 'src/styles/variables.scss';

:host {
  display: flex;
  user-select: none;
  overflow: hidden;
  height: 100%;
  width: variables.$sidebar-width;
  min-width: variables.$sidebar-width;
}

@media screen and (max-width:1280px) {
  :host {
    width: 100%;
    min-width: 100%;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.search-input {
  border: none;
  caret-color: var(--color-text-secondary);
  font-variant-numeric: tabular-nums;
  user-select: none;
  padding: variables.$gap-2;
  border-radius: variables.$gap-1;
  border: 1px solid var(--color-border);
  margin: variables.$gap-1;
}

.items-container {
  flex: 1;
}

.buttons-container {
  display: flex;
  gap: variables.$gap-1;
  margin: 0 variables.$gap-1 variables.$gap-1 variables.$gap-1;

  .button {
    flex: 1;
    gap: variables.$gap-1;
  }
}
