@use 'src/styles/variables.scss';

:host {
  width: 280px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.search-input {
  width: 100%;
  border: none;
  caret-color: var(--color-text);
  font-variant-numeric: tabular-nums;
  user-select: none;
  padding: variables.$gap * 2;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: variables.$gap 0;
  gap: variables.$gap;
}