<div class="button action-button" (click)="renameTag()">Rename</div>
<div class="button action-button" (click)="deleteTag()">Delete</div>
<div class="button action-button" (click)="changeTagParent()">Change Parent</div>
@if (inputs.tag.group) {
  <div class="button action-button" (click)="createTag()">Create Tag</div>
  <div class="button action-button" (click)="createTagGroup()">Create Tag Group</div>
} @else {
  <!-- <div [tp]="this.getPseudoListEditDisabledMessage()"> -->
    <div class="button action-button" [class.disabled]="isEditPseudoListDisabled()" (click)="editPseudoList()">Edit Pseudo List</div>
  <!-- </div> -->
  <div class="button action-button" (click)="insertTagGroup()">Insert Tag Group</div>
}
