@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  user-select: none;

  .filters-container {
    max-height: 80vh;
    display: flex;

    .groups-container {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      overflow: visible;

      .group-container {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        gap: $gap;

        .group-active-indicator {
          width: 100%;
          min-width: $gap * 2;
          border-bottom: 1px solid var(--color-border);
        }
      }
    }

    .tags-container {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      overflow: visible;
      margin-left: 1rem;
    }
  }

  .buttons-container {
    display: flex;
    gap: $gap;
    margin: $gap * -2;
    margin-top: 0;

    .button {
      flex: 1;
      gap: $gap;
    }
  }
}