@import 'src/styles/variables.scss';

:host {
  width: 300px;
  padding: $gap;
  user-select: none;
  transition: $transition-duration;

  &.collapsed {
    width: 42px;
  }

  .animation-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: $transition-duration;

    &.collapsed {
      opacity: 0;
      pointer-events: none;
    }

    .group-mode-container {
      &.flash {
        color: var(--color-negative);
      }

      &:not(.flash) {
        transition: color 500ms;
      }
    }
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-bottom: $gap;
  }

  .filters-container {
    height: 100%;
    display: flex;

    .groups-container {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      overflow: visible;

      .group-container {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        gap: $gap;

        .group-active-indicator {
          width: 100%;
          min-width: $gap * 2;
          border-bottom: 1px solid var(--color-border);
        }
      }
    }

    .tags-container {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      overflow: visible;
      margin-left: 1rem;
    }
  }

  .buttons-container {
    display: flex;
    gap: $gap;

    .button {
      flex: 1;
      gap: $gap;
    }
  }
}