@use 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;
  padding: variables.$gap;

  .button {
    width: 100%;

    &.action-button {
      min-height: initial;
      padding: variables.$gap 0;
    }
  }
}