@use 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:1000px) {
    width: calc(100% - ($gap * 4));
    padding: ($gap * 2);
  }

  @media screen and (min-width:1000px) {
    padding: ($gap * 4) 0;
  }

  .no-questions-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    border-radius: variables.$gap;
    padding: ($gap * 2);
    gap: ($gap * 2);
    align-items: center;

    a {
      height: auto;
      gap: ($gap * 1.5);
      padding: ($gap) ($gap * 2);
    }
  }

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .auth-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    border-radius: variables.$gap;
    padding: ($gap * 2);
    gap: ($gap * 2);

    .auth-header {
      display: flex;
      flex-direction: column;

      .auth-text {
        font-size: 24px;
        text-align: center;
      }

      .auth-description {
        font-size: 16px;
        text-align: center;
      }
    }

    .auth-buttons {
      display: grid;
      align-items: center;

      @media screen and (max-width:1000px) {
        grid-template-columns: auto;
        justify-items: center;
        gap: variables.$gap;
      }

      @media screen and (min-width:1000px) {
        grid-template-columns: 1fr auto 1fr;
        gap: ($gap * 2);
      }

      .auth-button.auth-ui-button {
        padding: 0;
        border-radius: variables.$gap;
        overflow: hidden;
      }

      .auth-or {
        font-size: 14px;
      }

      .auth-button {
        width: 100%;
        height: auto;
        align-self: center;
        gap: ($gap * 1.5);
        padding: ($gap) ($gap * 2);
      }
    }
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: ($gap * 2);
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    border-radius: variables.$gap;
    padding: ($gap * 2);
    position: relative;
    width: 100%;

    .question-container {
      display: flex;
      flex-direction: column-reverse !important;

      .question-animation-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .question-description {
          margin-top: ($gap * 0.5);
          font-size: 14px;
        }

        .question-choices {
          display: flex;
          flex-direction: column;
          margin-top: ($gap * 2);
          align-self: start;
          gap: 0.5rem;
          width: 100%;

          .question-choice {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            padding: 0.5rem;
            border: 1px solid var(--color-border);
            border-radius: variables.$gap;
            transition: variables.$transition-duration * 0.5;

            &.selected {
              background-color: var(--color-secondary);
            }

            .choice-labels {
              display: flex;
              align-items: center;
              gap: variables.$gap;

              .choice-hyperlink {
                cursor: pointer;
                font-size: 12px;
              }

              .choice-text {
                min-width: fit-content;
              }

              .choice-description {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: ($gap * 2);
      justify-content: space-between;
      position: relative;

      .button-container {
        display: flex;
        justify-content: center;
        flex: 1;

        &:first-child {
          justify-content: flex-start;
        }

        &:last-child {
          justify-content: flex-end;
        }

        .button {
          height: auto;
          padding: ($gap) ($gap * 2);
          gap: ($gap * 1.5);

          i {
            font-size: 14px;
          }
        }
      }
    }
  }

  .question-progress {
    position: absolute;
    right: 0;
    top: 0;
    padding: ($gap * 2);
    font-size: 12px;
  }
}