<div class="article-container hover-container" [class.dragging-some]="isDraggingSome()" [class.dragging-this]="isDraggingThis()" (drop)="drop($event, article)" ondragover="event.preventDefault()">
  <div class="flex gap flex-1">
    @for (_ of [].constructor(article.collectParents().length); track $index) {
      <i class="fa-solid fa-angle-down opacity-0"></i>
    }

    @if (article.folder) {
      <i class="icon-button-small fa-solid" [ngClass]="article.open ? 'fa-angle-down' : 'fa-angle-right'" (click)="article.open = !article.open"></i>
    } @else {
      <i class="icon-button-small fa-solid opacity-0"></i>
    }

    <span
      class="ellipsis flex-1 width-0"
      [class.highlight]="isHighlight()"
      (click)="onClick()"
      draggable="true"
      (dragstart)="start($event, article)"
      (dragenter)="enter($event, article)"
      (dragleave)="leave($event, article)"
      (dragend)="end($event, article)"
      ondragover="event.preventDefault()"
      >{{ article.title }}</span
      >
    </div>
    <div class="article-buttons hover-visible">
      <i class="icon-button-small fa-solid fa-ellipsis-vertical" (click)="stateService.options(article)"></i>
    </div>
  </div>
  <div class="flex column overflow-hidden drawer" [class.open]="article.open">
    @for (child of article.children; track child.id) {
      <app-sidebar-row [article]="child"></app-sidebar-row>
    }
  </div>
