@use 'src/styles/variables.scss';

:host {
  .article-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: variables.$button-height-smaller;

    &:not(.dragging-some):hover,
    &.dragging-this {
      background-color: var(--color-surface-200);
    }

    .article-buttons {
      text-align: end;
    }
  }
}
