@import 'src/styles/variables.scss';

:host {
  .article-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: $button-height-small;

    &:not(.dragging-some):hover,
    &.dragging-this {
      background-color: var(--color-background-hover);
    }

    .article-buttons {
      text-align: end;
    }
  }
}