<ng-container *ngIf="tag">
  <div class="flex gap cursor-pointer hover-brighten hover-container" style="line-height: 24px;">
    <div class="flex gap flex-1 align-items-center" (click)="onTagClick()">
      <i *ngFor="let _ of [].constructor(getOffset(tag))" class="fa-solid fa-angle-down opacity-0"></i>
      <i *ngIf="isGroup()" class="fa-solid" [ngClass]="tag.open ? 'fa-angle-down' : 'fa-angle-right'" style="margin-top: 1px;"></i>
      <div class="flex-1 overflow-hidden" [ngClass]="getTextClass()" style="text-overflow: ellipsis;">
        <span class="white-space-nowrap">{{ tag.name }}</span>
        <span *ngIf="!isGroup() && stateService.settings.showTagCount" style="white-space: pre;"> • {{ tagService.getTagCount(tag) }}</span>
      </div>
    </div>
    <div class="flex gap align-items-center hover-visible">
      <i class="hover-positive fa-solid fa-ellipsis-vertical" (click)="galleryService.openTagEditor(tag)"></i>
    </div>
  </div>
  <div *ngIf="isGroup()" [@drawer2]="tag.open" class="flex column overflow-hidden">
    <app-tag-manager-row *ngFor="let child of tag.children" [tag]="child" [target]="target" [groupMode]="groupMode"></app-tag-manager-row>
  </div>
</ng-container>