@let header = applicationService.header();
<div class="header-start">
  @for (action of header.start; track action.id) {
    @if (!isHidden(action)) {
      @let classes = resolveClasses(action.classes);
      @if (isStackedClasses(classes)) {
        <span class="icon-button" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)">
          <span class="fa-stack">
            @for (stackClass of classes; track $index) {
              <i class="fa-stack-1x pointer-events-none" [ngClass]="stackClass"></i>
            }
          </span>
        </span>
      } @else {
        <i class="icon-button" [ngClass]="classes" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)"></i>
      }
    }
  }
</div>
<div class="header-center">
  @for (action of header.center; track action.id) {
    @if (!isHidden(action)) {
      @let classes = resolveClasses(action.classes);
      @if (isStackedClasses(classes)) {
        <span class="icon-button" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)">
          <span class="fa-stack">
            @for (stackClass of classes; track $index) {
              <i class="fa-stack-1x pointer-events-none" [ngClass]="stackClass"></i>
            }
          </span>
        </span>
      } @else {
        <i class="icon-button" [ngClass]="classes" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)"></i>
      }
    }
  }
</div>
<div class="header-end">
  @for (action of header.end; track action.id) {
    @if (!isHidden(action)) {
      @let classes = resolveClasses(action.classes);
      @if (isStackedClasses(classes)) {
        <span class="icon-button" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)">
          <span class="fa-stack">
            @for (stackClass of classes; track $index) {
              <i class="fa-stack-1x pointer-events-none" [ngClass]="stackClass"></i>
            }
          </span>
        </span>
      } @else {
        <i class="icon-button" [ngClass]="classes" [class.disabled]="isDisabled(action)" [title]="getTooltip(action)" (click)="onClick(action)"></i>
      }
    }
  }
</div>
