<div class="header-start">
  @for (action of headerConfig().start; track trackById($index, action)) {
    @if (!isHidden(action)) {
      <div [ngClass]="resolveClasses(action.containerClasses)">
        <i class="icon-button" [ngClass]="resolveClasses(action.classes)" [attr.tp]="action.tooltip" (click)="action.onClick?.()"></i>
      </div>
    }
  }
</div>
<div class="header-center">
  @for (action of headerConfig().center; track trackById($index, action)) {
    @if (!isHidden(action)) {
      <div [ngClass]="resolveClasses(action.containerClasses)">
        <i class="icon-button" [ngClass]="resolveClasses(action.classes)" [attr.tp]="action.tooltip" (click)="action.onClick?.()"></i>
      </div>
    }
  }
</div>
<div class="header-end">
  @for (action of headerConfig().end; track trackById($index, action)) {
    @if (!isHidden(action)) {
      <div [ngClass]="resolveClasses(action.containerClasses)">
        <i class="icon-button" [ngClass]="resolveClasses(action.classes)" [attr.tp]="action.tooltip" (click)="action.onClick?.()"></i>
      </div>
    }
  }
</div>
