@use 'src/styles/variables.scss';

:host {
  padding: variables.$gap-1;
  border-bottom: 1px solid var(--color-border);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (min-width:1280px) {
    .drawer-container {
      width: 3rem;
      min-width: 3rem;
      transition-property: width, min-width, opacity, margin, transform;
      transition-duration: variables.$transition-duration;

      &:not(.drawer-hidden) {
        width: 0;
        min-width: 0;
        opacity: 0;
        margin-right: -(variables.$gap-1);
        transform: translateX(-3rem);
        pointer-events: none;
        border: 0;
      }
    }
  }

  .header-start,
  .header-center,
  .header-end {
    display: flex;
    align-items: center;
    gap: variables.$gap-1;
  }

  .header-start {
    justify-content: start;
  }

  .header-center {
    justify-content: center;
  }

  .header-end {
    justify-content: end;
  }
}
