@use 'src/styles/variables.scss';

:host {
  padding: variables.$gap-1;
  border-bottom: 1px solid var(--color-border);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .header-start,
  .header-center,
  .header-end {
    display: flex;
    align-items: center;
    gap: variables.$gap-1;
  }

  .header-start {
    justify-content: start;
  }

  .header-center {
    justify-content: center;
  }

  .header-end {
    justify-content: end;
  }
}