@import 'src/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: $gap * 3;
  gap: $gap * 3;

  .element-container {
    display: flex;
    flex-direction: column;
    gap: $gap;

    .element {
      flex: 1;
      height: $button-height;
      box-sizing: border-box;
    }
  }
}