@import 'src/styles/variables.scss';

:host {
  display: grid;
  align-content: center;
  grid-template-columns: auto 1fr;
  grid-auto-rows: min-content;
  row-gap: $gap;
  column-gap: $gap;
  padding: $gap * 3;

  .element-label {
    align-self: center;
  }

  .element-container {
    height: $header-height;
    display: flex;
    gap: $gap;

    .element {
      flex: 1;
      height: $header-height;
      box-sizing: border-box;
    }
  }
}