@use 'src/styles/variables.scss';

:host {
  width: max-content;
  display: grid;
  align-content: center;
  grid-template-columns: auto 1fr;
  grid-auto-rows: min-content;
  row-gap: variables.$gap-1;
  column-gap: variables.$gap-1;
  padding: variables.$gap-3;

  .element-label {
    align-self: center;

    .element {
      flex: 1;
      height: variables.$button-height;
      box-sizing: border-box;
    }
  }
}
